[2020-04-29 11:32] Kulcanhez opened #6 "Lazy Load Google Maps"
Hello @diegoazh, really thank you for keeping to developing this project!

I'm now developing a website that has a google map at the end of the page. Most of the users probably will not even reach the end of the page, so would be really important to lazy load.

What would be the best way to lazyload it?

Thank you once again!

[2020-05-01 01:33] diegoazh commented on #6
Hello @Kulcanhez, first of all, thanks for your question, second of all I will share with you an answer ([https://github.com/xkjyeah/vue-google-maps/issues/595#issuecomment-476459465](https://github.com/xkjyeah/vue-google-maps/issues/595#issuecomment-476459465)) that the owner of `vue2-google-maps` gives to a user that ask for the same feature, please read all threads and I hope that it helps you.

[2020-05-02 10:01] Kulcanhez commented on #6
Hello @diegoazh, really thank you for your kindness and help.
I read everything and I tried. I'm still new to Vue so probably I'm doing some noobish thing here. I also tried other things and even I was able to load the Google Maps however it was being loaded in the start and not when it came to the viewport. I took a screenshot from the code I think is correct from the issue you mentioned. Really

[2020-05-03 18:37] diegoazh commented on #6
I think that your error is because on the second screen you are using an object that wasn't imported

[code]
instead of that try to use only that you imported like below

[code]

Let me know if this solves your problem.

[2020-05-05 08:58] Kulcanhez commented on #6
Yes, it makes all the sense. Thank you! Now is working but I noticed that is still being loaded in the header and the map is in the footer. Which is like 400kb that is being loaded unnecessarily :/

[2020-05-05 20:51] Kulcanhez commented on #6
I solved using Metominc Contextual Consent. I'm already using their product so it's working amazingly, as it solves the cookie and loading issues :) really thank you for the assistance and love!

[2020-05-05 20:51] #6 closed

[2020-05-08 04:38] Firman95 opened #9 "Map is not shown on nuxt when running on production mode"
This is my map
`<gmap-map ref="gmaps" :center="center" map-type-id="terrain" :zoom="12">
      <gmap-marker :position="center" />
    </gmap-map>`

The map is shown when running on dev mode, but not on production mode. There is no error console nor network

[2020-05-11 13:18] Firman95 commented on #9
I think its because the css is not loaded when in production mode. I copy the map.vue css from the plugin to my component and the map displayed perfectly

[2020-05-11 14:35] Firman95 opened #10 "Deprecated Property and Function"
I found two deprecated errors while using the map and autocomplete:

`open_now is deprecated as of November 2019 and will be turned off in November 2020. Use the isOpen() function from a PlacesService.getDetails() result instead.`

and

`utc_offset is deprecated as of November 2019 and will beturned off in November 2020. Use utc_offset_minutes instead.`

[2020-05-11 14:36] Firman95 commented on #9
nevermind, I think its because of my purgecss config not set properly

[2020-05-11 14:36] #9 closed

[2020-05-21 04:07] josegus commented on #10
Same here, I've migrated from the original repo to this one. Thanks for your contribution @diegoazh , hope you can fix this soon.

![image](https://user-images.githubusercontent.com/13947849/82522294-f322d500-9af6-11ea-84b8-32d303cb9514.png)

[2020-05-24 03:40] diegoazh commented on #10
Thank you for reporting it 👍🏽

[2020-05-28 21:07] Felixclement opened #12 "autocomplete.vue component scopedSlots renders a span by default"
would it be possible to pass a "tag" prop to render other html node like a div per example
would look something like this

`<template>
  <component :is="tag" v-if="$scopedSlots['input']">
    <slot name="input" v-bind:attrs="$attrs" v-bind:listeners="$listeners" :ref="input"></slot>
  </component>
  <input v-else-if="!$scopedSlots['input']" ref="input" v-bind="$attrs" v-on="$listeners" />
</templa

[2020-05-31 02:52] josegus opened #13 "Autocomplete is undefined"
I get this error when using autocomplete and places, the most stranger thing is that i've another component with autocomplete working good.

![image](https://user-images.githubusercontent.com/13947849/83343415-f4f35200-a2c7-11ea-8984-02794fdf3701.png)
![image](https://user-images.githubusercontent.com/13947849/83343429-1f450f80-a2c8-11ea-9b74-9511eba6450f.png)
![image](https://user-images.githubus

[2020-06-04 15:57] josegus opened #14 "v-model on marker"
Would be nice if we could use v-model with a GmapMarker (along with current :position prop), since everytime I move the marker I need to update manually the new location lat and lng values

[2020-06-16 09:31] ljcremer opened #15 "Vue 3"
Do you have any plans to convert this to Vue 3?

[2020-06-16 10:39] yze77 opened #16 "Wrong install command?"
Shouldn't
`npm install vue2-google-maps`
instead be
`npm install gmap-vue`

and
`import * as VueGoogleMaps from 'vue2-google-maps'`
instead be
`import * as VueGoogleMaps from 'gmap-vue'`

The reason for this, is that I could not get custom text field via scoped slot to work with the gmap-autocomplete component.

I looked in _node_modules/vue2-google-maps/dist/components/autocomplete.vue_ in my pro

[2020-06-16 11:45] yze77 commented on #16
I found the link to your documentation now. Sorry
https://diegoazh.github.io/gmap-vue/

[2020-06-22 13:23] r94ever opened #17 "Proper way to use gmapApi"
Hi,

Please make me clearly about the way to using gmapApi. I copied your sample code but it didn't work:

[code]

The log displayed on the console is `NULL`

What wrong I made?
Thanks

[2020-06-22 15:36] rodsouto commented on #17
It doesn't work in `mounted()` because the map is not initialized yet, but `this.google` will be available once  the map is ready

[2020-06-23 01:40] r94ever commented on #17
How to check when map is ready? Has any event be fired? Sorry since this is the first time I work with google map.

[2020-06-23 19:18] rodsouto commented on #17
There is an example in the readme

[code]

[2020-06-24 05:41] r94ever commented on #17
Worked like a charm! Thanks

[2020-07-19 12:08] Anjgpt opened #21 "Is there support for drawing freehand?"
Just wanted to check gmap-vue give support to draw freehand if yes then how?

Any help greatly appreciated.

[2020-07-20 13:13] davydnorris commented on #21
have a look at the pull request I added - adds support for the drawing manager, which lets you draw freehand

[2020-07-21 16:46] dom-velloso opened #22 "Uncaught ReferenceError: google is not defined"
Hi @diegoazh,
First of all congrats on keeping this awesome project alive! :)

I've been having loading problems on production env. Although on local dev env. everything works fine.

Console logs the following errors on page load (production):

<img width="645" alt="Screen Shot 2020-07-21 at 13 13 13" src="https://user-images.githubusercontent.com/59833288/88082225-db4be980-cb57-11ea-90da-11cb7f9b

[2020-07-26 18:00] Anjgpt commented on #21
Thanks @davydnorris , i've checked the changes which looking amazing.
Any idea when this pull request can be merged?

[2020-07-27 00:48] davydnorris commented on #21
Unfortunately that's not up to me - @diegoazh?

You can get the drawing manager going without the changes being merged - I've attached my test project so you can see how it works. I use Vuetify for my components, and I have two maps set up. Map.vue uses my own custom toolbar for editing, and Map2.vue uses the built in Drawing Manager bar and lets you randomly change its position

[map-test.zip](ht

[2020-07-30 02:09] diegoazh commented on #21
Hello @davydnorris and @Anjgpt I am very busy the last months and I don't have time to take a look nothing and I feel bad for that, sorry guys.
This weekend I review all issues in the repo and merge PRs if they are good.
Please feel free to contribute or make any suggestions.

[2020-07-30 02:10] diegoazh commented on #21
@Anjgpt I'm not sure if your question is answered or if the PR of @davydnorris solves your issue, please let me know.

[2020-07-30 02:15] diegoazh commented on #12
@Felixclement sorry, I regret the delay with you, but sorry I think that I miss something because I don't catch you. Please can you explain more, thank you.
Regards

[2020-07-30 02:19] diegoazh commented on #13
Hello @josegus, sorry for my delay, can you provide a minimal repository to reproduce this issue?

[2020-07-30 02:22] diegoazh commented on #14
@josegus that sounds good for me, if you have any idea about how to implement this you are welcome to send your PR.

[2020-07-30 02:33] diegoazh commented on #15
Hello @ljcremer, thanks for your question. The answer is a big YES! my first goal is to migrate this plugin to Vue 3 when it is in a stable state. If you would like to contribute to making it possible please let me know. Regards

[2020-07-30 02:42] diegoazh commented on #22
Hello @dom-velloso, thanks for sending your issue. At first glance, all looks well, can you provide a minimal reproduction repository. This will be very helpful to analyse your issue. Regards.

[2020-07-30 06:56] Anjgpt commented on #21
Hello @diegoazh first of all thank you so much for such an amazing plugin. Yes my question is answered by @davydnorris.

[2020-07-31 02:36] diegoazh opened #23 "Add unit test with jest"
We need to add unit tests with jest if it is possible.

[2020-08-01 12:28] davydnorris commented on #10
tapping this so the bot doesn't close it! Needs to be done

[2020-08-01 15:19] diegoazh opened #32 "Move to eslint airbnb rules"
In order to preserve good practices in javascript, we need to move to the Airbnb rules of the Eslint package.

[2020-08-01 15:19] diegoazh opened #33 "Add contributing guide to the repository"
We need to defined and add the contributing guide to the repository

[2020-08-01 15:30] diegoazh opened #34 "Add style guide to the repository"
We need to define a style guide that explained some practices and why we follow them.

[2020-08-01 15:33] diegoazh opened #35 "Remove example folders"
The new documentation is now in a different package in the monorepo and the examples folder is no needed anymore except that tests.

[2020-08-01 16:35] diegoazh opened #36 "Start migration to Vue v3 and typescript"
We need to start to plan the migration to Vue 3 before August 2020, following the recommendation of the author in this announcement (https://github.com/vuejs/rfcs/issues/183).

[2020-08-01 16:46] diegoazh opened #37 "Add e2e or integration tests with Cypress and puppeteer."
We need to improve the e2e or integration test using Cypress and Puppeteer in order to get a good suite of tests and can guarantee the quality and security of the plugin.

[2020-08-01 18:51] Anjgpt opened #38 "Info window is not working for gmap-cluster"
I have a use case to show information on cluster mouse over when i i'm trying this with **gmap-info-window** it seems not working. Just wanted to know is there support of this feature? Or do i need to create a custom tooltip for this?

[code]

[code]

[2020-08-01 18:56] Anjgpt opened #39 "Info window is not working for gmap-cluster"
I have a use case to show information on cluster mouse over when i i'm trying this with **gmap-info-window** it seems not working. Just wanted to know is there support of this feature? Or do i need to create a custom tooltip for this?

[code]

[code]

[2020-08-01 19:06] Anjgpt opened #40 "Info window is not working for gmap-cluster"
"Detailed Description" - I have a use case to show information on cluster mouse over when i i'm trying this with gmap-info-window it seems not working. Just wanted to know is there support of this feature? Or do i need to create a custom tooltip for this?

"Current Behavior" - Info window is not opening on hover of gmap-cluster.

"Expected Behavior" - Info window should open on hover of gmap-clust

[2020-08-02 19:15] zeroedin commented on #15
I'm definitely going to be watching the project. I dunno how much I'll be able to contribute just from lack of general skill with Vue, but am interested in this project and will try to offer what I can.

[2020-08-02 23:15] davydnorris opened #42 "Inefficient loops"
https://github.com/diegoazh/gmap-vue/blob/d7afa940ca1f81e4241c058e99c5abb154170840/packages/gmap-vue/src/components-implementation/drawing-manager.js#L54

This should be changed back to

[code]
This is the fastest way to iterate through properties on an Object:
 - fastest for small numbers of items
 - 'in' loops over non-numeric keys
 - any method that uses a callback to do its work is not as effi

[2020-08-02 23:17] davydnorris commented on #42
@diegoazh - some housekeeping

Also this one should be changed back too
https://github.com/diegoazh/gmap-vue/blob/d7afa940ca1f81e4241c058e99c5abb154170840/packages/gmap-vue/src/components-implementation/drawing-manager.js#L153

change this to:
[code]

This is a true array so 'for', 'while' or 'in' is the most efficient

[2020-08-02 23:21] davydnorris opened #43 "Inconsistent quotes"
https://github.com/diegoazh/gmap-vue/blob/d7afa940ca1f81e4241c058e99c5abb154170840/packages/gmap-vue/examples/drawing-manager2.html#L89

All double quotes should be changed back to single quotes to be consistent with the other examples

[2020-08-02 23:21] davydnorris commented on #43
@diegoazh some more

[2020-08-02 23:44] davydnorris opened #44 "gmap-vue.js needs rebuild to include new components"
@diegoazh - just tried to test the examples and they aren't working because the new components aren't added to gmap-vue.js

Also the drawing manager examples aren't even loading the Google map

I also something isn't really wrong with the edits that were made to drawing-manager2.html - there is a callback slot in the drawing manager component that works the same way as the auto-complete and it's g

[2020-08-03 04:51] diegoazh commented on #43
@davydnorris yes I note that was Prettier 🤦🏻‍♂️, sorry for the boot.
I need to add some files that are missing in this repository. Don't worry about quotes, during this week I'm going to migrate to Airbnb rules in Eslint and that will fix the quotes problem.

[2020-08-03 05:01] diegoazh commented on #42
@davydnorris, in this case, I don't agree with you, because of this: https://github.com/airbnb/javascript#iterators-and-generators.
Sorry for the boot close your issue.

[2020-08-03 05:06] diegoazh commented on #44
@davydnorris I land your features, and the code works very well, please use the documentation examples to test it, if you test with the HTML examples (they will be removed soon) you need to build your own `gmap-vue.js`. I don't commit this file because it is a built file. If you want to test the new features without compiling your own file please use the following option https://cdn.jsdelivr.net/n

[2020-08-03 05:12] davydnorris commented on #42
OK so you're doing it purely for style reasons because of AirBnB rules - no problem.

[2020-08-03 05:14] davydnorris commented on #44
I have tested myself and the drawing manager html examples aren't loading the maps. I have adjusted the first one and am now trying to get the custom toolbar example to work.

[2020-08-03 05:16] davydnorris commented on #44
BTW I fixed the heatmap autoload - you can remove the button and change the script section to:

[code]

[2020-08-03 05:20] diegoazh commented on #44
If you continue with this problem please can you provide more details to understand how you try to test these functionalities?
Please check the following captures that I recorded a few minutes ago:
https://www.loom.com/share/ac4af1732d9b48cba05b3ea935ca79bc
https://www.loom.com/share/7a01249dce814bbd8cc4bd8822ea7868
https://www.loom.com/share/f4048e06fcea4b25b8507109fa2a9bb4

[2020-08-03 05:23] davydnorris commented on #44
Video 1 is technically correct but you can get the Heatmap points to autoload if you use the script above.
Video 2 is correct behavior
Video 3 should show a custom toolbar instead of the default and this is not working

[2020-08-03 05:28] diegoazh commented on #44
@davydnorris ok, if that is the expected behaviour of the point 3, I never see it working. When I tried the HTML examples that's what I saw. Can you re-check that?

[2020-08-03 05:29] davydnorris commented on #44
yeah it's not working - I'm trying to fix it now

[2020-08-03 05:33] diegoazh commented on #42
No, is because of this alert.
<img width="451" alt="Screen Shot 2020-08-03 at 02 30 40" src="https://user-images.githubusercontent.com/10166935/89148945-9baad780-d531-11ea-97a5-ae558044acd6.png">
And In our plugin, this is the target when transpile.

[2020-08-03 05:48] diegoazh commented on #44
@davydnorris I remove this line because return false and nothing was displayed on the map 🤷🏻‍♂️. I set it to `true` in the debugger and the toolbar options appears in the map.

[code]

[2020-08-03 06:34] davydnorris commented on #44
lol - that would be why it's not working. I have been chasing this down all day!

The drawing manager vue file defines two functions on the slot, and you need to add v-slot="<some name>" to the outer component in order to access them, or explicitly get them with v-slot="{ deleteSelection, setDrawingMode}"

When you do this, Vue thinks the slot is now scoped.

So the line above checks to see whethe

[2020-08-03 12:30] Anjgpt commented on #21
Hi @davydnorris , how we can get the polygon path once we draw the polygon?

I'm getting below object in setSelection method..
[code]

[2020-08-03 12:34] davydnorris commented on #21
@Anjgpt - the shapes required prop will contain an array of all the shapes you drew. For Polygons they are actually arrays of point arrays.

console.log the shapes prop and you'll see the arrays. Also have a look in the components source code - if the shapes prop contains shapes I redraw them on the map and then they can be edited, so the code will give you an idea of how to use them

[2020-08-03 12:35] Anjgpt commented on #21
Thanks @davydnorris for a quick reply. Let me have a look in the components source code.

[2020-08-03 13:02] davydnorris commented on #44
OK I found the issue - the pages are using an old release of Vuejs and slot naming is now different. This meant that the drawing manager was always dropping into the default slot, which has a class that makes it invisible.

I have now fixed all examples and they work well. Please see attached
[examples-fixed.zip](https://github.com/diegoazh/gmap-vue/files/5016078/examples-fixed.zip)

[2020-08-03 16:52] diegoazh commented on #44
@davydnorris excellent, today a will check the new examples and update Vue on the project, thanks for your efforts 👏🏽

[2020-08-03 23:10] davydnorris commented on #44
I'll also do some content for the documentation around this as well.

[2020-08-03 23:15] davydnorris commented on #44
One thing that really trapped me, and we should definitely document, is the fact that the map component has two slots - the default slot is wrapped in a class that sets display: none; so by default any component you add to your map will be invisible.

This is OK for most of the supplied components that interact directly with the Google map object, but it's not good if you want to bring up things l

[2020-08-03 23:27] diegoazh commented on #44
@davydnorris we need to change something in the `drawing-manager.js`? 🤔

[2020-08-03 23:31] davydnorris commented on #44
No - it should all work fine with current as far as I know. I had to kill my git clone and pull fresh from here because the pull was messed up, so I have the current master

[2020-08-05 13:30] diegoazh commented on #44
@davydnorris thank you so much for your efforts. I merge the changes and all is working fine, I also add more documentation and an acknowledgement for [your contribution](https://diegoazh.github.io/gmap-vue/#gmapvue-slots) to the docs.
![bitmoji](https://sdk.bitmoji.com/render/panel/e19d1515-b426-4107-aad4-d62c37a20430-99d46e02-3909-4c58-b702-17f3b2673e7c-v1.png?transparent=1&palette=1&width=246)

[2020-08-05 14:09] diegoazh commented on #21
The new version of `GmapVue` is ready on npm

[2020-08-05 14:20] diegoazh commented on #10
I'm working on it 😄, on the weekend a will fix all closed issues by the bot 🤦🏻‍♂️ includes my issues 😅.

[2020-08-05 19:19] diegoazh commented on #10
@Firman95, @josegus can you provide more information about this.
I found in all code base and I didn't find any place where we use `utc_offset` or `open_now` if you can help me with a more detailed explanation about what were you doing when this deprecation appears will be a great clue.
In the case of `utc_offset` deprecation warning, I saw when autocomplete inputs is used but, I think that it is

[2020-08-05 22:49] davydnorris commented on #44
@diegoazh - thanks for merging this all in. I noticed you mentioned the toolbar isn't working - it works perfectly for me in my html example but I can't test the documentation version as I can't seem to find a working google map API key for the documentation site. Happy to help diagnose any problems with the examples in the documentation - it may also be useful to mention that in a regular applica

[2020-08-05 22:56] davydnorris commented on #44
Oh and one last tiny thing - the discussion about the visible slot. This is not generic to GmapVue, it's specific to GmapMap so you may want to change the one word in that discussion so people know it's just the map component

[2020-08-06 12:15] diegoazh commented on #44
@davydnorris don't worry,

- The toolbar is working very well in the examples.
- The warning about the toolbar component is because someone can be using the runtime-only and trying to reproduce the example and maybe it doesn't work.
- I will add the points that you mention into the documentation

Thank you again.

<img width="805" alt="Screen Shot 2020-08-06 at 09 05 22" src="https://user-images.g

[2020-08-09 13:45] mouadhkaabachi opened #66 "getBounds undefined in mounted()"
mounted() {
    this.$nextTick(() => {
      this.$refs.gmap.$mapPromise.then(() => {
        console.log(this.$refs.gmap.$mapObject.getBounds())
      });
    });
  },

[2020-08-09 13:51] mouadhkaabachi opened #67 "getBounds undefined in mounted()"
**Describe the bug**
unnable de get map bounds

**To Reproduce**
[code]
**Expected behavior**
if mounted when I do this.$refs.gmap.$mapObject.getBounds().getNorthEast().lat(); I will get the north_east_latitude

**Current behavior**
getBounds undefined

[2020-08-10 03:45] diegoazh commented on #22
@dom-velloso you can try to replace the promise with an `await` like below:

[code]

Regards.

[2020-08-10 10:47] diegoazh commented on #12
@Felixclement I think you are trying to use scoped slots in the autocomplete component, that is supported for GmapVue, please read check the documentation [here](https://diegoazh.github.io/gmap-vue/examples/autocomplete.html#source-code) at the end, you can find an example of scoped slot.
I am going to close this issue, but if I wrong and you are trying something different please reopen it 👍🏽.

[2020-08-11 14:21] alkaitagi opened #70 "Need help on: Cloud-Based Map Styling"
# What you try to do

I've read about this new great feature allowing us to customize the map's look. I've created map ID with the style I want and now I need to pass the ```mapId``` parameter to the instantiated map.

https://developers.google.com/maps/documentation/javascript/cloud-based-map-styling#example_app

# What is the problem

Did not find any info about this option in this plugin's docu

[2020-08-12 05:58] Anjgpt commented on #67
@mouadhkaabachi You can try [this](https://diegoazh.github.io/gmap-vue/#lazy-loading
)
[code]

[2020-08-12 16:23] MrToxy opened #71 "Feature: Improve documentation"
There's a lack of documentation for nearly every component.

There are undocumented events that one can only find by checking the examples page such as `zoom_changed`, `center_changed`, and `idle` for `GmapMap` component for example.

A dedicated page for each component clearly showcasing a list of accepted props and events and what they accept and return would be great as it would make the use of

[2020-08-12 16:29] MrToxy opened #72 "Feature: Improve documentation. Detail props, events and slots for each component"
**Is your feature request related to a problem? Please describe.**
I find the documentation really poor and not helpful in most cases.
There's not a clear showcase of the components accepted props and events, what they accept or what they return.

For example, It took me ages to find that the `GmapMap` has events like `center_changed`, `zoom_changed`, and `idle`, stuff that if properly documented

[2020-08-12 17:41] mouadhkaabachi commented on #67
it returns undefined also :/

[2020-08-13 02:18] diegoazh commented on #72
Hello @MrToxy you are right, I agree with you on all points. I am working on API documentation for the plugin but, how you said, the old structure of the plugin not allow us to generate it automatically.
I am planed to change the structure of the API to get a more intuitive and easy code that we can test with unit tests, e2e tests and generate the API documentation automatically.
At the same time,

[2020-08-13 10:19] MrToxy commented on #72
Hi @diegoazh I'd be more than glad to help

[2020-08-16 13:04] dom-velloso commented on #22
Solved it! Async mounted worked.
Thanks a lot @diegoazh! 😁

[2020-08-17 07:29] stalker3343 opened #74 "Need help on:"
# What you try to do

I need set localization for Map, and change it dynamically.

# What is the problem

How set language ?

# What kind of things have you already treated

l find google dock for this
https://developers.google.com/maps/documentation/javascript/localization
And stackOvwrflow answer, but i'm not sure if this is the right way and that it won't break the plugin
https://stackoverflow.

[2020-08-17 07:37] stalker3343 opened #75 "Need help on: set localization for Map"
# What you try to do

I need set localization for Map, and change it dynamically.

# What is the problem

I do not know how to do it

# What kind of things have you already treated

l find google documentation for this
https://developers.google.com/maps/documentation/javascript/localization
And stackOvwrflow answer, but i'm not sure if this is the right way and that it won't break the plugin
https

[2020-08-17 07:39] stalker3343 opened #76 "Need help on: set localization for Map"
# What you try to do

I need set localization for Map, and change it dynamically.

# What is the problem

I do not know how to do it

# What kind of things have you already treated

l find google documentation for this
https://developers.google.com/maps/documentation/javascript/localization
And stackOvwrflow answer, but i'm not sure if this is the right way and that it won't break the plugin
https

[2020-08-17 07:40] stalker3343 opened #77 "Need help on:"
# What you try to do

I need set localization for Map, and change it dynamically.

# What is the problem

I do not know how to do it

# What kind of things have you already treated

l find google documentation for this
https://developers.google.com/maps/documentation/javascript/localization
And stackOvwrflow answer, but i'm not sure if this is the right way and that it won't break the plugin
https

[2020-08-17 07:43] stalker3343 opened #78 "Set localization for Map"
I need set localization for Map, and change it dynamically.

I do not know how to do it

l find google documentation for this
https://developers.google.com/maps/documentation/javascript/localization
And stackOvwrflow answer, but i'm not sure if this is the right way and that it won't break the plugin
https://stackoverflow.com/questions/7065420/how-can-i-change-the-language-of-google-maps-on-the-ru

[2020-08-20 17:31] kabugh opened #79 "Access the Polygon to use in containsLocation"
# What you try to do

Hey, first of all, I'd like to thank you for this awesome plugin!
I'd like to use [`containsLocation`](https://developers.google.com/maps/documentation/javascript/examples/poly-containsLocation) and to make it work I need to get the access to Polygon.
# What is the problem
I can't access the Polygon in gmap-vue to pass it as an argument.

# What kind of things have you alread

[2020-08-23 22:08] antoinematyja opened #80 "Bug: clusterClass prop missing on gmap-cluster component + can't disable img"
Hello :) First of all thanks for this library 👍

**Describe the bug**
I'm trying to use the cluster component like this:
https://googlemaps.github.io/v3-utility-library/packages/markerclustererplus/examples/advanced_example.html
The last cluster style : "Circles (css only)".

To reproduce this I need to set a few things like here :
https://github.com/googlemaps/v3-utility-library/blob/master/packa

[2020-08-23 22:09] antoinematyja commented on #80
Wtf man

[2020-08-23 22:13] antoinematyja opened #81 "Bug: clusterClass prop missing on gmap-cluster component + can't disable img"
**Describe the bug**
Hello :) First of all thanks for this library 👍

I'm trying to use the cluster component like this:
https://googlemaps.github.io/v3-utility-library/packages/markerclustererplus/examples/advanced_example.html
The last cluster style : "Circles (css only)".

To reproduce this I need to set a few things like here :
https://github.com/googlemaps/v3-utility-library/blob/master/packa

[2020-08-27 00:49] LHernZ opened #82 "Need help on: Autocomplete scoped slots vue-formulate"
Hi, i'm looking for any possible solution to this problem I have

I'm trying to add a custom text field to aucomplete scoped slots as describe here [https://diegoazh.github.io/gmap-vue/examples/autocomplete.html](https://diegoazh.github.io/gmap-vue/examples/autocomplete.html)

But im not using vuetify, instead I'm using [vue-formulate](https://vueformulate.com/) because i need to do some business

[2020-08-27 00:54] LHernZ opened #83 "Need help on: Autocomplete scoped slots vue-formulate"
# What you try to do

I'm trying to add a custom text field to aucomplete scoped slots as describe here [https://diegoazh.github.io/gmap-vue/examples/autocomplete.html](https://diegoazh.github.io/gmap-vue/examples/autocomplete.html)

But im not using vuetify, instead I'm using [vue-formulate](https://vueformulate.com/) because i need to do some business logic with the value returned from the autoc

[2020-08-27 00:57] LHernZ opened #84 "Need help on: Autocomplete scoped slots vue-formulate"
# What you try to do

I'm trying to add a custom text field to aucomplete scoped slots as describe here [https://diegoazh.github.io/gmap-vue/examples/autocomplete.html](https://diegoazh.github.io/gmap-vue/examples/autocomplete.html)

But im not using vuetify, instead I'm using [vue-formulate](https://vueformulate.com/) because i need to do some business logic with the value returned from the autoc

[2020-09-08 15:05] priziie opened #88 "Need help on: Inital Configuration"
## What you try to do

I am trying to use the plugin in my project

## What is the problem

When the app is started, it crashes when import the plugin with

[code]
I get
[code]

## What kind of things have you already treated

I tried to install the original plugin `vue2-google-maps` but I got the same error. Can you help me to solve? Do I need something else?

## Steps to reproduce

I just follow

[2020-09-09 07:14] davydnorris commented on #10
in that case, I would assume that Google will automatically fix their own call and we don't need to do anything.

[2020-09-09 15:39] ljcremer commented on #15
@diegoazh Do you know if this has been started. We would like to collaborate on this. If nothing has been done yet we could potentially start looking into it.

[2020-09-16 00:07] pjatx opened #93 "Dealing with password managers"
Hey there,

So I have the plugin working on my project and it works great. Using it in an ecommerce checkout and running into one issue which I'll describe below.

The form in question is a simple address form. I have a `<gmap-autocomplete>` component that I'm using to drive the address input UX.

User clicks into the form, starts typing, autocomplete fires up, they select their address and it fil

[2020-09-16 01:20] pjatx opened #94 "Need help on: Manually triggering autocomplete dropdown"
# What you try to do

I have a `<gmap-autocomplete>` component that's a simple address field. When the user clicks into the field and starts typing, the autocomplete options popup below the field, the user selects the place they want and my code fills in all of the other address fields automatically. This works great.

The problem I'm running into is when you try to use a password manager.

# What

[2020-09-16 14:39] gizburdt commented on #9
@Firman95 What did you add to fix this? :)

[2020-09-16 15:14] pjatx commented on #94
@diegoazh any chance you can take a look at this? guessing this is simple, but have looked through the source code and can't really figure this out.

[2020-09-17 09:57] gizburdt opened #95 "Custom marker icon"
Is it possible to set a custom icon for the markers? And how to fix this in a Nuxt project?

Thanks :)

[2020-09-17 09:58] gizburdt opened #96 "Custom marker icon"
Is it possible to set a custom icon for the markers? And how to fix this in a Nuxt project?

Thanks :)

[2020-09-19 17:23] diegoazh commented on #10
Thanks for the explanation @BenThurber, I agree with @davydnorris. I think we can close this issue.

[2020-09-19 17:23] #10 closed

[2020-09-20 15:14] boxtesign opened #97 "Bug: autocomplete with custom text field doesn't return lat and lng"
autocomplete with custom text field doesn't return places data.

**Expected behavior**

[code]
[code]

The code above prints the places data in the console. The code below with custom text field does't work. I copied the code from the documentation.

**Current behavior**
[code]
[code]

I would also like to know where i need to place this: `Autocomplete.setFields("formatted_address")`

## Package m

[2020-09-20 15:18] boxtesign opened #98 "Bug: autocomplete with custom text field doesn't return lat and lng"
**Describe the bug**
autocomplete with custom text field doesn't return places data.

**To Reproduce**
[code]
[code]
**Expected behavior**
Print places data in console. Here is the that works:

[code]
[code]

**Current behavior**
The code below with custom text field does't work. I copied the code from the documentation.

**Screenshots**
none

**Desktop (please complete the following information):

[2020-09-20 15:21] boxtesign opened #99 "Need help on:"
# What you try to do
**Describe the bug**
autocomplete with custom text field doesn't return places data.

**To Reproduce**
[code]
[code]
**Expected behavior**
Print places data in console. Here is the that works:

[code]
[code]

**Current behavior**
The code below with custom text field does't work. I copied the code from the documentation.

**Screenshots**
none

**Desktop (please complete the fo

[2020-09-20 15:21] boxtesign opened #100 "Need help on: test"
# What you try to do

Explain to us what you are trying to do or what is your goal.

# What is the problem

Explain to us what is the problem or what is the part of the documentation that is not clear.

# What kind of things have you already treated

A small description of the solutions that you already treated.

# Steps to reproduce

Explain to us how to get the same problem or provide a small ex

[2020-09-21 01:35] Joshgallagher commented on #98
I am experiencing this issue by the looks of it.

I am also seeing errors in the console - one of them is the following: `utc_offset is deprecated as of November 2019 and will be returned off in November 2020. Use utc_offset_minutes instead.`

Thanks!

[2020-09-28 11:16] Davids89 opened #102 "Feature: autocomplete with minimun characters"
**Is your feature request related to a problem? Please describe.**
To avoid multiple calls to the Google Places API, It would be nice a selector of minimum characters required before call the API.

**Describe the solution you'd like**
I think that only is necessary to add a prop in `/components-implementation/autocomplete.js` and a validation [here](https://github.com/diegoazh/gmap-vue/blob/master

[2020-09-28 20:09] pechanxur opened #103 "Bug: Uncaught (in promise) TypeError: Cannot read property 'geocode' of undefined on mounted"
**Describe the bug**
i need to geolocate the user in the mounted method of the component, im trying to use [this](https://diegoazh.github.io/gmap-vue/#lazy-loading) but i got the mentionend error

**To Reproduce**
Steps to reproduce the behavior:
1. Create an async function as mentioned in the docs
2. create this variable `let geocoder = this.google.maps.Geocoder();`
3. try to use it as ` geocoder

[2020-09-28 20:13] pechanxur commented on #103
why its closed? here its the screenshot of my mounted method

![Screen Shot 2020-09-28 at 15 10 11](https://user-images.githubusercontent.com/20100156/94481329-2825ef00-019d-11eb-8340-f5f16415e5d5.png)

[2020-10-01 14:28] kevmorpain opened #104 "Feature: Chrome does not understand autocomplete="off""
**Is your feature request related to a problem? Please describe.**
Sorry if it's not a feature request, but it's not really a bug from gmap-vue either.
I have the same problem discribed here: https://stackoverflow.com/q/12374442, Chrome does not remove its own autocomplete when autocomplete is set as "off". It's working perfectly on every browser but Chrome.

**Describe the solution you'd like**
T

[2020-10-13 07:48] tingan opened #105 "Bug: gmap autocomplete component restrictions not work dynamically"
Hi,
` componentRestrictions: {
                        country: 'nl'
                    }`
i have a dropdown list of country code, i need to dynamically change above restrictions to the selected country code. i used watch to watch the country selection change and dynamically reset the gmap autocomplete options to the selected country code, but it not work.

[2020-10-17 19:23] diegoazh commented on #66
@mouadhkaabachi can you please create a new issue? following the required issue template, thanks a lot

[2020-10-17 19:48] diegoazh commented on #15
@ljcremer no we did not start the migration yet, I would like to have help and collaborators, you are welcomed but first, we need to improve the actual version and planing the migration to not repeat the same errors when this plugin starts, we need a clear structure and definitions in order to get a better plugin and documentation in the future.

[2020-10-17 21:34] diegoazh commented on #103
@pechanxur thanks for report this bug, in a few minutes a will land a new release fixing this bug.

[2020-10-17 22:28] diegoazh commented on #103
Can you try these changes?

[code]

Please let me know if this was helpful.
Regards.

[2020-10-17 22:35] diegoazh commented on #105
Please can you follow our issue template and explain with more details what you do and what you need to do and some code example? I will be waiting for the new issue 👍🏽

[2020-10-17 22:48] diegoazh commented on #104
@kevmorpain thanks for open this issue.
I think this situation is very interesting. Like you said before setting a configuration only for one browser maybe is not a good idea. I don't know what is the opinion of other users about this topic, at the moment I never hear this kind of needs from a user of the plugin but maybe is something to consider in some situations.

[2020-10-17 22:50] diegoazh commented on #102
@Davids89 thanks for your suggestion, I like this approach. 👍🏽

[2020-10-20 12:37] Davids89 commented on #88
I had to add this to my webpack configuration

[code]

[2020-11-03 16:48] ivaralink opened #111 "Bug:"
**Describe the bug**
vue.common.dev.js:630 [Vue warn]: Error in mounted hook (Promise/async): "InvalidValueError: Map: Expected mapDiv of type Element but was passed undefined."

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the view where this component is loaded

**Expected behavior**
The map is show whithout erros

**Current behavior**
The Map is shown with this error

**Desktop (p

[2020-11-03 17:01] ivaralink opened #112 "Bug: invalidValueError: Map: Expected mapDiv of type Element but was passed undefined"
**Describe the bug**
this error is thrown in the console:

Everything loads as expected, but i want to know how to get rid of this error. I cannot find something in my code that triggers this error

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the view where this component is loaded

**Expected behavior**
The map is shows whithout errors

**Current behavior**
The Map is shown with th

[2020-11-03 17:05] ivaralink opened #113 "Bug:"
**Describe the bug**
this error is thrown in the console:

Everything loads as expected, but i want to know how to get rid of this error. I cannot find something in my code that triggers this error

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the view where this component is loaded

**Expected behavior**
The map is shows whithout errors

**Current behavior**
The Map is shown with th

[2020-11-03 17:08] ivaralink opened #114 "Bug: InvalidValueError: Map: Expected mapDiv of type Element but was passed undefined"
**Describe the bug**
this error is thrown in the console:

Everything loads as expected, but i want to know how to get rid of this error. I cannot find something in my code that triggers this error

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the view where this component is loaded

**Expected behavior**
The map is shows whithout errors

**Current behavior**
The Map is shown with th

[2020-11-03 17:09] ivaralink commented on #114
Can anyone tell me why it is closed, i followed the template?

[2020-11-03 19:15] ivaralink opened #115 "Bug: InvalidValueError: Map: Expected mapDiv of type Element but was passed undefined"
**Describe the bug**
this error is thrown in the console:

Everything loads as expected, but i want to know how to get rid of this error. I cannot find something in my code that triggers this error

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the view where this component is loaded

**Expected behavior**
The map shows whithout errors

**Current behavior**
The Map is shown with this

[2020-11-04 09:23] ivaralink commented on #115
Can you enlighten me as to why this bug is cloed?

[2020-11-14 11:38] dovca commented on #115
I had this same problem today. I am using gmap-vue in Nuxt and the reason for this error was most likely the nuxt page component being mounted twice incorrectly (mounted -> destroyed -> mounted). In the first mount, the element passed to `new google.maps.Map()` was indeed undefined.

**Solution**:
Remove `build: { splitChunks: { layout: true } }` from nuxt.config.js or set the layout key to `false

[2020-11-17 17:09] mlereste opened #116 "Bug: Typo in doc for polygon path_changed"
**Describe the bug**

Hello! Thanks for this awesome plugin! :)

I think there is a small typo in the examples documentation for polygon simple and advanced:
https://diegoazh.github.io/gmap-vue/examples/polygon-simple.html#live-example
https://diegoazh.github.io/gmap-vue/examples/polygon-advanced.html#live-example

In the `@path_changed` event

**To Reproduce**

N/A

**Expected behavior**

The fol

[2020-11-17 17:15] mlereste commented on #116
Is there a way to reopen issue once the template was fixed?

[2020-11-19 09:26] kossa opened #117 "Need help on: Show title on marker"
# What you try to do
I want to show some information when I click on marker

# What is the problem

Currently it does not show anything

# What kind of things have you already treated
[code]

# Steps to reproduce

Try to add title in GmapMarker

## Os

- [x] Mac Os X

## Mobile

## Versions

- Node: 14.14
- NPM: 6.14

## Package manager

- [x] NPM

## Plugin version

- [x] 1.5.x

[2020-11-23 03:39] websitevirtuoso opened #118 "Bug: autocomplete component: The computed property "fields" is already defined as a prop."
**Describe the bug**
A clear and concise description of what the bug is.
I am trying to migrate from old vue-gmap plugin to your lib. Got this error
My application using vuetify. Somewhere creating a computed property with the name "fields".
I don't know where but know that your plugin doing the same.
SO I got next error:

`
[Vue warn]: The computed property "fields" is already defined as a prop.

[2020-11-23 03:40] websitevirtuoso commented on #118
@diegoazh

[2020-11-24 14:03] diegoazh commented on #118
@websitevirtuoso can you rewrite this issue but please you don't need to paste your package.json in the issue template because the boot will close your issue, because it doesn't follow our issue template if you want to paste it please leave it in a comment after creating the issue.

[2020-11-24 14:08] diegoazh commented on #116
@mlereste can send a PR to fix this typo? Thank you.

[2020-11-24 19:09] websitevirtuoso commented on #118
Package json

`
{
  "name": "ecom-dashboard",
  "version": "0.1.0",
  "private": true,
  "scripts": {
    "serve": "vue-cli-service serve",
    "build": "vue-cli-service build && rm -rf ./dist/**/*.js.map",
    "lint": "vue-cli-service lint",
    "apollo": "vue-cli-service apollo:watch",
    "apollo:run": "vue-cli-service apollo:run"
  },
  "dependencies": {
    "@casl/ability": "^4.1.6",
    "@ca

[2020-11-24 19:12] websitevirtuoso commented on #118
@diegoazh Thanks for help. I changed message to your template/ Let me know if it works

[2020-11-24 22:13] shayneo opened #119 "Bug: "Map: Expected mapDiv of type Element but was passed undefined.""
**Describe the bug**
"Map: Expected mapDiv of type Element but was passed undefined." error is thrown when navigating from one page with a map, to another page with a different map.

**To Reproduce**
Steps to reproduce the behavior:
1. add a gmap on a page, give it a ref and id like `mymap`
2. add another gmap to a different page, give it a different ref and id like`myothermap`

**Expected behavio

[2020-11-24 22:14] shayneo opened #120 "Bug: "Map: Expected mapDiv of type Element but was passed undefined.""
**Describe the bug**
"Map: Expected mapDiv of type Element but was passed undefined." error is thrown when navigating from one page with a map, to another page with a different map.

**To Reproduce**
Steps to reproduce the behavior:
1. add a gmap on a page, give it a ref and id like `mymap`
2. add another gmap to a different page, give it a different ref and id like`myothermap`

**Expected behavio

[2020-11-24 22:15] shayneo opened #121 "Bug: "Map: Expected mapDiv of type Element but was passed undefined.""
**Describe the bug**
"Map: Expected mapDiv of type Element but was passed undefined." error is thrown when navigating from one page with a map, to another page with a different map.

**To Reproduce**
Steps to reproduce the behavior:
1. add a gmap on a page, give it a ref and id like `mymap`
2. add another gmap to a different page, give it a different ref and id like`myothermap`

**Expected behavio

[2020-11-24 22:19] shayneo opened #122 "Bug: Map: Expected mapDiv of type Element but was passed undefined."
**Describe the bug**
"Map: Expected mapDiv of type Element but was passed undefined." error is thrown when navigating from one page with a map, to another page with a different map.

**To Reproduce**
Steps to reproduce the behavior:
1. add a gmap on a page, give it a ref and id like `mymap`
2. add another gmap to a different page, give it a different ref and id like`myothermap`

**Expected behavio

[2020-11-24 22:19] shayneo commented on #122
I have no idea what is wrong with my issue.

[2020-11-30 16:07] matiasperrone opened #124 "Doc typo: Adding your own components"
Docs

In the page https://diegoazh.github.io/gmap-vue/#officially-supported-components the link in "source code for mapElementFactory" should be pointing to "https://github.com/diegoazh/gmap-vue/blob/master/packages/gmap-vue/src/factories/map-element.js" instead of the current one, because it goes to a 404 page

[2020-11-30 16:20] matiasperrone opened #125 "Bug: Doc correct link in "source code for mapElementFactory""
**Describe the bug**

In the page https://diegoazh.github.io/gmap-vue/#officially-supported-components the link in "source code for mapElementFactory" should be pointing to "https://github.com/diegoazh/gmap-vue/blob/master/packages/gmap-vue/src/factories/map-element.js" instead of the current one, because it goes to a 404 page

**To Reproduce**
Steps to reproduce the behavior:
1. Enter to the page

[2020-11-30 16:22] matiasperrone commented on #125
@diegoazh It is impossible to report a problem!

[2020-12-02 07:33] eregnier commented on #117
Hey, you might use [this plugin](https://github.com/eregnier/vue2-gmap-custom-marker) to do something very custom, this is not the most performant solution, but it is very flexible.
Disclaimer : I did this plugin :smile:

[2020-12-02 07:34] eregnier commented on #96
Hey, you might use [this plugin](https://github.com/eregnier/vue2-gmap-custom-marker) to do something very custom, this is not the most performant solution, but it is very flexible.
Disclaimer : I did this plugin :smile:

[2020-12-02 07:36] kossa commented on #117
Really I like it, please add it to : https://github.com/vuejs/awesome-vue#map

[2020-12-13 16:39] momtboy opened #128 "Bug: PlacesService undefined"
**Describe the bug**
[code]

**Desktop (please complete the following information):**
 - OS: [e.g. win]
 - Browser [chrome]
 - Version [88.0.4315.4]

**Additional context**
Add any other context about the problem here.

## Versions

- Node:  v12.16.1
- NPM:   6.13.4

## Package manager

-

- [x]  NPM

- [ ] Yarn

## Plugin version
- [x] 1.5.0
- [ ] 1.4.x
- [ ] 1.2.x
- [ ] 1.0.x

[2020-12-13 16:45] momtboy opened #129 "Bug:"
**Describe the bug**
[code]

**To Reproduce**
N/A

**Expected behavior**
N/A

**Current behavior**
N/A

**Screenshots**
N/A

**Desktop (please complete the following information):**
 - OS: [win64]
 - Browser [chrome]
 - Version [88.0.4315.4]

**Smartphone (please complete the following information):**
N/A

**Additional context**
N/A

## Versions

- Node:  v12.16.1
- NPM:   6.13.4
- Yarn:

## Packa

[2020-12-13 16:47] momtboy opened #130 "Bug: PlacesService undefined"
**Describe the bug**
[code]

**To Reproduce**
N/A

**Expected behavior**
N/A

**Current behavior**
N/A

**Screenshots**
N/A

**Desktop (please complete the following information):**
 - OS: [win64]
 - Browser [chrome]
 - Version [88.0.4315.4]

**Smartphone (please complete the following information):**
N/A

**Additional context**
N/A

## Versions

- Node:  v12.16.1
- NPM:   6.13.4
- Yarn:

## Packa

[2020-12-22 09:04] ygascard opened #131 "Feature: Support of Polyline icons prop"
Hi!

As described here:
https://developers.google.com/maps/documentation/javascript/symbols#add_to_polyline

Polyline has an icons property to put symbols on the line. Unfortunately the Polyline component doesn't implement it.

I think it's just a matter of adding the prop to the Polyline.js component I guess...

[2020-12-22 09:06] ygascard opened #132 "Feature: Polyline add support of icons prop"
**Is your feature request related to a problem? Please describe.**
Hi!

As described here:
https://developers.google.com/maps/documentation/javascript/symbols#add_to_polyline

Polyline has an icons property to put symbols on the line. Unfortunately the Polyline component doesn't implement it.

**Describe the solution you'd like**
I think it's just a matter of adding the prop to the Polyline.js com

[2020-12-22 09:32] ygascard commented on #132
I'm not familiar with the code but I almost made it work.

I added

  icons: {
    type: Array,
    twoWay: true,
  },

But I get
Error: setIcons is not a method of (the Maps object corresponding to) gmap-polyline
Removing twoWay doesn't change.

I'd be glad to make my first pull request on this with a little help.

[2020-12-25 16:45] diegoazh commented on #114
@ivaralink sorry, it is my fault, I made a mistake configuring the bot 🤦🏻‍♂️

[2020-12-28 18:20] shayneo commented on #122
Thanks for reopening, any ideas on the actual issue?

[2020-12-28 18:22] shayneo commented on #119
closing as this is a duplicate of https://github.com/diegoazh/gmap-vue/issues/122

[2021-01-04 15:55] clp-atoms commented on #122
I have the same problem, there is news on how to solve it?

[2021-01-08 21:04] aphavichitr opened #135 "Need help on: Marker rotation"
# What you try to do

Trying to rotate a marker by using the bearing. The native google maps marker API has a rotation option.

# What is the problem

Didn't see if this library supported marker rotation in the documentation and examples. Does this library support this?

# What kind of things have you already treated

Haven't tried this library yet

# Steps to reproduce

N/A

## Os

- [X] Mac Os X

[2021-01-11 19:54] sdevore commented on #10
So it seems that this issue is not resolved by waiting for updates to the api from google's part I am still seeing it, should be looked at again and perhaps specify the fields better?  or is there a problem with the google api being pined to an old version?

[2021-01-11 23:39] akc4 opened #137 "Bug: Cluster images flickering on clicking events."
**Describe the bug**
I am using Clustering on my markers and I have noticed that on any update event on my page, the images of the cluster will "blink/flicker". Either I click on a button, change the range on a range input, etc.

**To Reproduce**
Steps to reproduce the behavior:

I think the problem is coming from the updated method in cluster.js component.
[code]

**Expected behavior**
Expect the

[2021-01-16 17:36] diegoazh commented on #10
@sdevore I will take a look again.

[2021-01-16 17:40] diegoazh commented on #125
@matiasperrone why?

[2021-01-17 16:18] akc4 opened #138 "Feature: Add overlaycomplete, fillColor, strokeColorstrokeColor props for DrawingManager"
**Is your feature request related to a problem? Please describe.**
For the moment when you complete/deselect/select, let's say a polygon, it will automatically go back to the colors set in ```/components-implementation/drawing-manager.js/```  on ```clearSelection()``` and ```setSelection()```.
It overwrites the options you set in (ex.):
[code]

**Describe the solution you'd like**
If possible add

[2021-01-18 14:23] matiasperrone commented on #125
@diegoazh because every time I report (following the template) an issue, it is closed by a bot.
Check #125 for instance.

[2021-01-18 14:25] matiasperrone commented on #125
this one too...

[2021-01-18 14:26] matiasperrone commented on #125
By the way I love this component!
Che the one I am maintaining as well: https://github.com/krystalcampioni/vue-hotel-datepicker

[2021-01-19 12:23] diegoazh commented on #125
@matiasperrone I will check the bot configuration but, it will take me a few days, thanks for letting me know about this.

[2021-01-19 12:30] diegoazh commented on #120
duplicate #122

[2021-01-19 12:30] diegoazh commented on #121
duplicate #122

[2021-01-19 12:36] diegoazh opened #139 "Bug:"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Current behavior**
A clear and concise description of what is going on.

**Screenshots**
If applicable, add screen

[2021-01-22 17:07] siba2893 opened #140 "Feature: Add On Load, OnFullScreen events"
I would like to get some events to trigger certain functionality on my app. As when the map is fully loaded and can be used. Or when it goes into fullscreen.

[2021-01-23 19:01] Ahmed-Shaheen2 opened #141 "Need help on: How to use this plugin with vue3"
# What you try to do

trying to use this plugin with a vue3 project

# What is the problem

cant initialize the plugin with the ordinary steps mentioned in documentation

# What kind of things have you already treated

nothing except trying to customize the install function a little bit but no result

# Steps to reproduce

just use a vue 3 project and try to initialize the plugin with code
Vue.cre

[2021-01-23 19:12] Ahmed-Shaheen2 opened #142 "Need help on: How to use this plugin with vue3 ?"
# What you try to do

trying to use this plugin with a vue3 project

# What is the problem

cant initialize the plugin with the ordinary steps mentioned in documentation

# What kind of things have you already treated

nothing except trying to customize the install function a little bit but no result

# Steps to reproduce

just use a vue 3 project and try to initialize the plugin with code
Vue.cre

[2021-01-26 17:18] zSkalin commented on #10
I'm still seeing this too on version 1.5.0

[2021-01-27 15:51] luke3butler commented on #112
I'm also running into this bug. Here is my implementation.

[code]

I'm using it within a Vuetify "Stepper". When a `v-if` is added to the `GmapMap` (to only load the map when the step is active), the error never occurs.

[2021-01-28 17:29] adriandmitroca opened #143 "[Feature Request] Re-use Google API library from the window if already available"
**Is your feature request related to a problem? Please describe.**
Library always expects to load Google API library on it's own, despite it could be already loaded from the other sources into the window.

**Describe the solution you'd like**
Reuse window.google if available.

**Describe alternatives you've considered**
Trying to override global Vue variables / methods exposed by the library but w

[2021-02-05 00:49] kruebling commented on #122
@clp-atoms @shayneo
Ran into this issue as well, turned out to be a problem with how my components were structured.

[code]

It seemed that in my GMapVueComponent, the `$mapPromise` was resolving before the loading state had finished in the ParentComponent to trigger the v-else block. Everything worked as expected, but I got a couple errors every time I loaded the page. Looked like they were comin

[2021-02-17 19:01] hoomb opened #144 "Proper way to add GmapCluster to Map"

[2021-02-25 18:11] findridoy opened #146 "Need help on: Autocomplete basic input design by class name"
# What you try to do

I am trying to inject classes to autocomplete basic component

# What is the problem

There are no mention in the doc how can I do that. Or I can not.

# What kind of things have you already treated

I haven't tried anything

# Steps to reproduce

You can try to change design on component

## Os

- [ ]  Mac Os X
- [ ] Linux (write here the name and version of your distributio

[2021-03-05 02:42] zeroedin opened #148 "Feature: add PreserveViewport as a prop for google-kml-layer"
**Is your feature request related to a problem? Please describe.**
Not a problem per say but having to work around it I guess is an annoyance.

I realize you all are working on the version for vue3 and this is most likely the last of your worries.  But would be nice to see it incorporated if possible in future versions if anything.  I myself have not yet moved to vue 3.

**Describe the solution yo

[2021-03-12 12:06] danbohea opened #150 "Bug: Marker cluster image does not appear (GmapCluster)"
**Describe the bug**
When using marker clustering the image that replaces the clustered markers is invisible. The markers are hidden according to the `minimumClusterSize` prop as expected but they are replaced with nothing.

**To Reproduce**
Steps to reproduce the behavior:
1. Import the component: `import GmapCluster from 'gmap-vue/dist/components/cluster'`
2. Register the component: `components:

[2021-03-12 12:07] danbohea commented on #150
Instantly closed? Really? I followed your issue template to the letter. You really need to consider tweaking your issue bots.

[2021-03-12 12:10] danbohea commented on #150
@diegoazh I followed your issue template but got insta-closed. Can you please either re-open this issue or tell me what I've got to do to submit an issue that stays open for more than 1 second?

[2021-03-12 14:23] danbohea commented on #150
It turns out that adding [this folder](https://github.com/eregnier/vue2-gmap-custom-marker-demo/tree/master/public/images) fixes the issue for now. Thanks to the author of [this plugin](https://github.com/eregnier/vue2-gmap-custom-marker). Please don't consider this resolved though. This still needs fixing in this project.

[2021-03-14 19:18] diegoazh commented on #150
why you removed the Desktop and Smartphone sections?

[2021-03-14 19:28] diegoazh commented on #141
@Ahmed-Shaheen2 you can't use this plugin with vue3, currently, I am rewriting many parts of the plugin for vue2 and after that, I will try to move to vue3, on the other hand, I am needing help to work faster in the project you are welcome if you want

[2021-03-14 19:29] diegoazh commented on #140
@siba2893 please follow our issue template

[2021-03-14 19:31] diegoazh commented on #137
@akc4 please don't remove sections of the issue template

[2021-03-14 19:35] diegoazh commented on #124
@matiasperrone in the future follow our issue template please

[2021-03-14 20:23] matiasperrone commented on #124
Where is this template or ISSUE_TEMPLATE.md?

[2021-03-14 20:41] danbohea commented on #150
OK, thanks for the info. You might want to make that clearer in the template instructions. Either way, your bot is waaaaay too over the top.

[2021-03-18 04:20] clixmat commented on #132
I need also this functionality please @diegoazh

[2021-03-18 06:56] rationalthinker1 commented on #9
@Firman95 Please tell us.

[2021-03-20 21:46] matiasperrone commented on #125
ping

[2021-03-22 02:28] CamilleDrapier opened #151 "Feature: Update gmap version handling description"
**Is your feature request related to a problem? Please describe.**
Update gmap version handling description in `packages/gmap-vue/src/manager/initializer.js`, as it is falsely claiming that this is a parameter that will have effect. It is too late (and not related to this fork) for that, but the removal of the `version` option should have probably been documented in a major's version breaking chan

[2021-03-27 14:24] bhattjaldhi opened #154 "Bug: ReferenceError: google is not defined inside google scripts"
**Describe the bug**
I am using `prerender-spa-plugin` npm package to generate prerendered pages for better SEO. But after the build is generated and serve, it shows errors in the console `ReferenceError: google is not defined` in google scripts. However, the map is loaded properly but those errors are always present in the console.

Note: I do not face this error while in development mode

**Scre

[2021-04-21 22:36] CavalcanteLeo commented on #82
@luishernandezIMT  have you figured out?

[2021-04-21 22:43] luishernandezIMT commented on #82
@CavalcanteLeo No, I instead used plain google maps javascript API

[2021-04-30 01:45] rationalthinker1 commented on #141
@diegoazh, I can help with the upgrade. Can you guide me on what I can do? What's the main issue with the upgrade? Any particular part that is time-consuming?

[2021-05-21 06:30] CamilleDrapier commented on #151
Should be just about reviewing the PR I made.... :bow:  :pray:

[2021-06-01 07:32] adriandmitroca commented on #143
:(

[2021-06-03 02:19] CHOMNANP commented on #150
I'm having the same issue. Not sure how to fix this.

[2021-06-08 04:15] jonHaultrax opened #169 "Bug: map option 'streetViewControl=false' offsets 'vue-map' child when opening <InfoWindow>"
**Describe the bug**
When the map component is configured with {streetViewControl: false} and an <InfoWindow> is set to opened, the child of the "vue-map" element becomes incorrectly offset

**To Reproduce**
Steps to reproduce the behavior:
1. Set map component 'options' to {streetViewControl: false}
2. Set map 'zoom' level to 15
3. Set map 'center' to {lat: 10, lng: 10}
4. Set <InfoWindow> 'posit

[2021-06-08 04:22] jonHaultrax commented on #169
As far as I can tell there is no missing section so I don't understand why it was bot closed. I may just be blind though.

[2021-06-09 17:17] jpoehnelt commented on #151
I recommend using @googlemaps/js-api-loader for this. I can submit a pr in the next few days with this improvement.

[2021-06-14 14:00] mstfkhazaal opened #170 "How can draw in map"
I have a map and I have to draw it, to demarcate the borders of each piece of land separately.
How do I do this with this library

Like this image
![1_vr4Cqg_FRtG50D9nZch14Q](https://user-images.githubusercontent.com/47450090/121904607-02904400-cd32-11eb-8685-cfacff3cd7c4.png)

[2021-06-14 14:07] mstfkhazaal opened #171 "Need help on: How can draw in map"
# What you try to do

I try Drawing Manager
# What is the problem

I have a map and I have to draw it, to demarcate the borders of each piece of land separately.
How do I do this with this library

# What kind of things have you already treated
I tried drawing through DrawingManager

# Steps to reproduce

Like this image
![1_vr4Cqg_FRtG50D9nZch14Q](https://user-images.githubusercontent.com/4745009

[2021-06-22 15:05] lombo75 commented on #10
For me if I take out utc_offset_minutes from the fields array the error doesn't occur

[2021-06-22 15:30] lombo75 opened #173 "Need help on:"
# What you try to do
Can someone please help me with an example or tell me whether it is possible to have multiple autocomplete and maps  in v-for on a single page where the map updates for the address entered per autocomplete. I also have this in a bootstrap-vue tabs pane and dont know if thats affecting anything

![image](https://user-images.githubusercontent.com/5086725/122950855-26055f80-d3c0-

[2021-06-28 07:29] developeralp opened #174 "Need help on: GmapMarker :position and v-model not updating"
# What you try to do

Hi, I'm trying to get updated marker's positions (lat and lng) with v-model or :position prop.

# What is the problem

The problem is, I can't get the updated position of the marker.

# What kind of things have you already treated

I've tried dragend event, watching the v-model of marker and position.
All of them did not work. The position is always the same.

# Steps to repr

[2021-06-30 10:44] bkostjens commented on #150
Same issue, I just switched from vue2-google-maps to gmap-vue. vue2-google-maps does not have this issue.

[2021-06-30 10:57] danbohea commented on #150
Honestly I've found everything easier by just using the Google Maps API directly. The support is better, it's more powerful, you have less dependencies etc.

[2021-07-02 11:17] developeralp commented on #174
SOLVED:

I added this method:

[code]

On this google-marker element:

[code]

[2021-07-05 13:26] julienperrault commented on #118
I've the same problem.
![image](https://user-images.githubusercontent.com/16414614/124478100-1cf39580-dda5-11eb-8ea0-5063079ffd19.png)

I'm using pug, so that's is my component (with no customs props).
[code]

[2021-07-05 21:57] websitevirtuoso commented on #118
@julienperrault I had to fork and fix it. Almost all issues bot closing. very sad

[2021-07-08 19:31] hugohabicht01 opened #176 "Need help on: Getting access to the $mapObject inside mounted"
# What you try to do

I'm trying to access the $mapObject via this.$refs.googlemap.$mapObject (the name of my ref is googlemap) inside mounted(), where I have an event bus listener that should display directions when the event gets emmited.

# What is the problem
Accessing the $mapObject inside mounted fails, `Uncaught TypeError: Cannot read property '$mapObject' of undefined` is logged in the con

[2021-07-09 14:40] mcadecio opened #177 "Feature: Add the title prop to GmapCluster"
**Is your feature request related to a problem? Please describe.**
At the moment, when a user hovers on a cluster, a tootle tip does not show. The title is present in the element but there is no way to set a value through the component. (a prop has not been specified in the `cluster.js` file)

**Describe the solution you'd like**
I would like to be able to set the title for a gmap cluster through

[2021-07-13 04:01] Firman95 commented on #9
@rationalthinker1 @gizburdt sorry for the late reply. I use purgecss, and that plugin discard css some of mine and this plugin classes. I just white list all that class from purgecss, and it works

[2021-07-13 16:09] hugohabicht01 commented on #176
Solved it by using vanilla js event listeners instead of vue event bus

[2021-07-16 13:30] balabambe opened #179 "Need help on: How to implement localContext?"
# What you try to do

I'm trying to use Local Context Library (now is in beta) to disable all place tag
![image](https://user-images.githubusercontent.com/51053024/125953115-dbc9990b-62d8-4c3a-b296-9c8cd1dfc336.png)
I want to hide these points.

# What is the problem

I want to implement `localContext` in `GmapMap`, but I don't know how to implement it.
I try to read all your documents, but none o

[2021-07-20 08:50] captenmasin opened #180 "Bug:"
**Describe the bug**
A weird issue in which maps don't render in CSS Columns

**To Reproduce**
Steps to reproduce the behavior:
1. Create 4 map embeds
2. Wrap them in a class
3. Add `columns: 4` to the wrapper class

**Expected behavior**
Expected 4 maps to display and pan correctly side-by-side as 4 columns

**Current behavior**
The first map displays correctly (but with a weird overflow issue, s

[2021-07-20 08:51] captenmasin opened #181 "Bug:"
**Describe the bug**
A weird issue in which maps don't render in CSS Columns

**To Reproduce**
Steps to reproduce the behavior:
1. Create 4 map embeds
2. Wrap them in a class
3. Add `columns: 4` to the wrapper class

**Expected behavior**
Expected 4 maps to display and pan correctly side-by-side as 4 columns

**Current behavior**
The first map displays correctly (but with a weird overflow issue, s

[2021-07-30 12:10] adavie1 opened #185 "Feature: Any examples for nearby places?"
Autocomplete works great. But I want to get nearby places. Which apparently uses the places library. I've checked the Google Maps API and can't get my head around it.

[2021-07-30 13:44] adavie1 opened #186 "Feature: Any Examples of Nearby Places?"
API calls direct to the Google servers succeed. But digging a little deeper it seems can't call from axios or plain HTTP requests. Google API docs say the Places library is required.

I've got that in my settings but can't seem call the API.

[2021-07-30 14:34] adavie1 commented on #72
Yo estoy dispuesto ayudar con la documentación

[2021-08-20 07:24] bclermont commented on #36
it's really done???

[2021-08-24 22:31] ellisgl commented on #36
The bot add the "won't fix" tag...
I having a heck of  time getting the extra services running, since I don't have a good def file.

[2021-09-29 09:09] robertowiest opened #198 "Feature: Component gmap-drawing-manager"
Hi, I need to use the gmap-drawing-manager component and get the coordinates from the polygnom draw. Are there any examples of how I can do this?

[2021-09-29 13:28] clcoco opened #199 "Bug: The Gmap-cluster example in the docs doesn't work correctly"

[2021-09-29 13:51] clcoco commented on #150
Where did you add it? I've got the same problem

[2021-09-29 13:59] danbohea commented on #150
@clcoco I think it was in public/images/ - not sure though, I'm not using this library any more as I've just had too many issues. Use the Google Maps API directly, you'll have a way smoother ride once you're up & running. Start here: https://markus.oberlehner.net/blog/using-the-google-maps-api-with-vue/

[2021-09-29 14:03] clcoco commented on #150
Unfortunately I'm a bit on a hurry, but it doesn't seem to be that hard so I'll give it a shot next.
Anyway, I updated the previous comment with the solution

[2021-09-30 07:28] tpkee opened #200 "Need help on: How do I attach an Object data to a single marker, and how do I show/hide a single marker?"
## What you try to do

I'm trying to attach an Object data to the object marker, and hide it if it's

## What is the problem

I don't know how, or if it's possible at all with this plugin, attach an Object data to the marker, and how to show/hide it based on a filter

## What kind of things have you already treated

Read the docs but they are laking.

## Steps to reproduce

There's not much you ca

[2021-10-07 01:53] jasonloeve opened #202 "Need help on:"
## What is the problem

tried setting this up in my build but im getting the following error

`Uncaught ReferenceError: exports is not defined`

## What kind of things have you already treated

Ive tried to include the full path which doesnt seem to help `import * as GmapVue from 'gmap-vue/dist/main'`

## Versions

- Node: v16.4.2
- NPM: 7.18.1

Using esbuild-vue: ^0.4.0

[2021-10-07 22:53] mryellow opened #203 "Bug: Including eslint-plugin-vue 6 breaks with eslint 7"
## Describe the bug

[code]

## To reproduce

Steps to reproduce the behavior:
1. Install `gmap-vue`
2. Build Vue app
3. See error

## Expected behavior

Run without error.

## Current behavior

Errors.

## Screenshots

NA

## Desktop (please complete the following information)

 - OS: Debian 10

## Smartphone (please complete the following information)

NA

## Additional context

NA

## Versions

[2021-11-03 21:46] dhcmega opened #204 "Need help on: Tinting a PNG marker - change marker color"
## What you try to do

I'm trying to use a PNG as marker and tint its color

## What is the problem

With this format, color and rotation are used
[code]

but with PNG they are ignored
[code]

## What kind of things have you already treated

icon is ignoring the color (and rotation, but is not that important)

## Steps to reproduce

Simple try a PNG as marker

## Os

- [X] Mac Os X
- [ ] Linux (wr

[2021-11-08 14:14] tpkee opened #205 "Bug: Autocomplete error("This page can't load Google Maps correctly.")"
## Describe the bug

The autocomplete module doesn't work correctly, as it gives the following error "This page can't load Google Maps correctly". Just use it to see it not working. It doesn't work on the example page too
## To reproduce

Steps to reproduce the behavior:
1. Use the autocomplete tag, it won't work

## Expected behavior

A list of places

## Current behavior

It gives an error

## S

[2021-11-18 04:18] #12 closed

[2021-11-24 04:04] davydnorris commented on #198
Hey @robertowiest,

Have a look at the examples - the shapes prop is an array that will contain all the shapes you draw. If you draw a Polyline then it will contain a google.maps.Polyline object. If you check the Google Maps API reference for this object you'll see it has a path property, which is an array of lat/lng pairs

[2021-11-24 19:32] diegoazh commented on #205
Please try with the latest version `v2.0.0` I refactored the entire structure of the plugin and as you can see in the new documentation page all components works expect two that are deprecated.

[2021-11-24 19:37] diegoazh commented on #204
Hi @dhcmega can you try the new version 2.0.0? check the new example page to see an example with custom markers, remember that you need to use a valid google maps key.

[2021-11-24 19:40] diegoazh commented on #203
yes, I'm trying to reorganize and restructure the entire plugin but it is taken a big effort and time. Can you check with the new version 2.0.0?

[2021-11-24 19:46] dhcmega commented on #204
Hi @diegoazh absolutely. I will test it this week. Thank you.

[2021-11-24 19:46] diegoazh commented on #202
can you try with the new version 2.0.0 and try to use `import GmapVue from 'gmap-vue';` as you can see in [main.js](https://github.com/diegoazh/gmap-vue/blob/master/packages/gmap-vue/src/main.js) we are exporting by default the install function for the plugin and also two objects, `helpers` and `components` that is because you can register the plugin without components and only import and register

[2021-11-24 19:48] diegoazh commented on #200
I will try to close the issues and after that, I will try to focus on the help, is possible too that in the short term we use GitHub discussions for help instead to use issues for that. Sorry for my delay.

[2021-11-24 19:50] diegoazh commented on #199
Try to use the new v2.0.0.
This issue doesn't meet our issue template, I will close it if the bug is still there please open a new issue following our issue template. Thanks

[2021-11-24 19:50] #199 closed

[2021-11-24 19:55] diegoazh commented on #198
Hi, @robertowiest  as said @davydnorris take a look at the new documentation and its examples all components are working and you have documented the API of every component, on the other hand, this issue doesn't meet our issue template and its very possible that you solve it your problem with the examples if you need something extra, please open a new issue thanks.

[2021-11-24 19:55] #198 closed

[2021-11-24 20:22] diegoazh commented on #186
Hi @adavie1 I don't understand well the problem I think, for the moment if you can test the new version 2.0.0 it will be useful, on the other hand, I will close the issue because it doesn't follow your issue template. I the problem persist please open a new one and I will try to help you, I'm restructuring the plugin and I will start the migration to Vue 3 and typescript the composition API will b

[2021-11-24 20:22] #186 closed

[2021-11-24 20:29] diegoazh commented on #185
Hi @adavie1 now I think that I understood you, I will try to land improvements on some components, including autocomplete and some others.

[2021-11-24 20:32] diegoazh commented on #181
Thanks for the video, was very useful, can you share with me a simple code example or a repository to reproduce this behaviour, also can you tray with the new version 2.0.0 of the plugin?

[2021-11-24 20:33] diegoazh commented on #180
Duplicate.

[2021-11-24 20:33] #180 closed

[2021-11-24 20:36] diegoazh commented on #179
Thank you for reporting it, I will take a look at that.

[2021-11-24 20:39] diegoazh commented on #177
Hi, @mcadecio  can you test the new version 2.0.0 and let me know if is possible if not I will land this change on the next version.

[2021-11-24 20:57] diegoazh commented on #176
Can you test the new version 2.0.0? I suspect that version has solved this issue.
It fails on mounted because you need to `await` for the promise resolve, you can read it in the [documentation](https://diegoazh.github.io/gmap-vue/#lazy-loading), I think that can help you, but as you marked the issue as solved I will close it but if you have any issue with version 2.0.0 feel free to open a new one.

[2021-11-24 20:57] #176 closed

[2021-11-24 22:22] mryellow commented on #203
Will do, might take me a little bit to get onto it.

[2021-11-25 07:39] davydnorris opened #226 "Bug: gmap-vue 2.0 latest release package is broken"
## Describe the bug

Have just updated a working nuxt project to gmap-vue 2.0, and now running it causes error:

[code]
## To reproduce

Steps to reproduce the behavior:
1. Create a nuxt project
2. Set up plugin/gmap-vue.js as per documentation:
[code]
3. npm run dev
4. See error log

## Expected behavior

gmap-vue package is found and loads as before

## Current behavior

gmap-vue is not loading

[2021-11-25 09:01] Andrei1524 commented on #226
i have the same problem

[2021-11-26 00:11] #174 closed

[2021-11-26 00:32] diegoazh commented on #173
I will try to take a look at this, but in the first place are issues while I close issues try to test the new version 2.0.0 and check the new documentation, on the other hand, is possible that we switch to GitHub discussions for help.

[2021-11-26 00:34] diegoazh commented on #171
I think you need to use polygons, check the new documentation and try to implement it.

[2021-11-26 00:34] diegoazh commented on #170
duplicate

[2021-11-26 00:35] #170 closed

[2021-11-26 00:37] diegoazh commented on #169
Hi, @jonHaultrax please try the new version 2.0.0 and check the new documentation. let me know if the issue persists.

[2021-11-26 00:38] diegoazh commented on #154
Please follow out issue template, if the issue persist please feel free to open a new issue.

[2021-11-26 00:38] #154 closed

[2021-11-26 00:40] diegoazh commented on #142
We will start migrating it to Vue 3, if you want to collaborate you are welcome.

[2021-11-26 00:43] #142 closed

[2021-11-26 00:55] #139 closed

[2021-11-26 00:57] diegoazh commented on #137
Try the new version 2.0.0 and let me know if the issue pressists

[2021-11-26 00:58] diegoazh commented on #135
@aphavichitr try the new version 2.0.0 and let me know if the issue perssists.

[2021-11-26 01:01] #119 closed

[2021-11-26 01:01] #120 closed

[2021-11-26 01:02] #121 closed

[2021-11-26 01:04] diegoazh commented on #129
@momtboy test it in the new version 2.0.0 and let me know if the issue perssists

[2021-11-26 01:06] diegoazh commented on #128
duplicate #129

[2021-11-26 01:09] diegoazh commented on #141
@rationalthinker1 I was working on a restructuration and refactor of the plugin that takes so much time. I will start planning the new version

[2021-11-26 01:10] diegoazh commented on #124
duplicate #125

[2021-11-26 01:10] #124 closed

[2021-11-26 01:13] diegoazh commented on #122
@shayneo try the new version 2.0.0, also check the new documentation, please let me know if the issue persists, I will close the issue but feel free to reopen it if it is needed.

[2021-11-26 01:14] #122 closed

[2021-11-26 01:16] diegoazh commented on #118
@julienperrault sorry about that, the bot causes many problems, test the new version 2.0.0 and check the new documentation page to, please let me know if the issue persists @websitevirtuoso all components are working well in the documentation.

[2021-11-26 01:18] diegoazh commented on #118
@julienperrault about the bot, please try to open a new issue for test and check if the bot works correctly now, I do that and works well for me but I'm not completely sure if it is fixed or not.

[2021-11-26 01:19] diegoazh commented on #117
@kossa please test the new version 2.0.0 and reopen the issue if the problem persists.

[2021-11-26 01:21] diegoazh commented on #116
@mlereste sorry about the bot I think is fixed now

[2021-11-26 01:24] diegoazh commented on #115
I will consider this issue resolved and close the issue. Thanks @dovca  for your answer and @ivaralink for open this issue.

[2021-11-26 01:24] #115 closed

[2021-11-26 01:26] diegoazh commented on #114
duplicate #115

[2021-11-26 01:26] #114 closed

[2021-11-26 01:27] diegoazh commented on #113
ducplicate #115 (bot error cause this duplications)

[2021-11-26 01:27] #113 closed

[2021-11-26 01:28] diegoazh commented on #112
duplicate #115

[2021-11-26 01:28] #112 closed

[2021-11-26 01:29] diegoazh commented on #111
duplicate #115

[2021-11-26 01:29] #111 closed

[2021-11-26 01:31] diegoazh commented on #105
@tingan please test the new version 2.0.0 and let me know if the issue persists.

[2021-11-26 01:34] #103 closed

[2021-11-26 01:36] dhcmega commented on #204
Hi @diegoazh something didn't work. I was using 1.5.0 and now I have installed 2.0.0.

`yarn add gmap-vue`

[code]

`yarn dev` (as usual)

This dependency was not found:

* gmap-vue in ./src/main.js, ./node_modules/cache-loader/dist/cjs.js??ref--12-0!./node_modules/babel-loader/lib!./node_modules/cache-loader/dist/cjs.js??ref--0-0!./node_modules/vue-loader/lib??vue-loader-options!./src/views/dashb

[2021-11-26 01:38] #100 closed

[2021-11-26 01:39] diegoazh commented on #99
@boxtesign please test the new version 2.0.0 and let me know if the issue persists.

[2021-11-26 01:43] diegoazh commented on #98
@Joshgallagher for your help, I will close this issue.

[2021-11-26 01:43] #98 closed

[2021-11-26 01:44] diegoazh commented on #99
duplicate #98
solved on #98

[2021-11-26 01:44] #99 closed

[2021-11-26 01:45] diegoazh commented on #97
duplicate #98

[2021-11-26 01:45] #97 closed

[2021-11-26 01:47] diegoazh commented on #96
@gizburdt try using the new version 2.0.0 and check the new documentation you have there an example with custom markers.

[2021-11-26 01:47] #96 closed

[2021-11-26 01:47] diegoazh commented on #95
duplicate #96

[2021-11-26 01:48] #95 closed

[2021-11-26 01:51] diegoazh commented on #94
@pjatx can you test the new version 2.0.0 and let me know if the issue persists is very strange the behaviour that you mention in the issue. Thank you, apologise for the bot.

[2021-11-26 01:52] diegoazh commented on #93
duplicate #94

[2021-11-26 01:52] #93 closed

[2021-11-26 01:54] diegoazh commented on #88
@Davids89 thanks for your help, I will consider this issue solved.

[2021-11-26 01:54] #88 closed

[2021-11-26 01:57] diegoazh commented on #84
@LHernZ try to test the new version 2.0.0 and apologize for the bot, I think is working well now but I'm not completely sure yet.
Let me know if works, I will give priority to issues but I will try to take a look at this too.

[2021-11-26 01:58] diegoazh commented on #83
duplicate #84

[2021-11-26 01:58] #83 closed

[2021-11-26 01:59] diegoazh commented on #82
@CavalcanteLeo I will take a look on #84

[2021-11-26 01:59] diegoazh commented on #82
duplicate #84

[2021-11-26 01:59] #82 closed

[2021-11-26 02:00] diegoazh commented on #81
@antoinematyja try the new version 2.0.0 and let me know if you find any issue there. Thanks and apologize for the bot and the delay.

[2021-11-26 02:01] diegoazh commented on #80
duplicate #81

[2021-11-26 02:01] #80 closed

[2021-11-26 02:03] diegoazh commented on #79
@kabugh please try with the new version 2.0.0 and let me know if it works, on the other hand, apologize for the bot and the delay.

[2021-11-26 02:04] diegoazh commented on #78
@stalker3343 try the new version 2.0.0 and let me know if it works.

[2021-11-26 02:05] diegoazh commented on #77
duplicate #78

[2021-11-26 02:05] #77 closed

[2021-11-26 02:05] #76 closed

[2021-11-26 02:06] diegoazh commented on #75
duplicate #78

[2021-11-26 02:06] #75 closed

[2021-11-26 02:06] diegoazh commented on #74
duplicate #78

[2021-11-26 02:06] #74 closed

[2021-11-26 02:09] diegoazh commented on #72
@adavie1 @MrToxy please review the new documentation, restructure the plugin and prepare the documentation toke me soo much time, I will need help to start a new version of the plugin that works with Vue 3 and composition API if you can help we can try to plan it. Others developers that want and can help are welcome too.

[2021-11-26 02:09] #72 closed

[2021-11-26 02:10] diegoazh commented on #71
solved on #72

[2021-11-26 02:10] #71 closed

[2021-11-26 02:12] diegoazh commented on #70
@alkaitagi try with the new version 2.0.0 and let me know if the issue persist, I will close it but feel free to reopen it if you need.

[2021-11-26 02:12] #70 closed

[2021-11-26 02:14] diegoazh commented on #67
@mouadhkaabachi please try with the new version 2.0.0 and let me know If the issue persists.

[2021-11-26 02:15] diegoazh commented on #66
duplicate #67

[2021-11-26 02:15] #66 closed

[2021-11-26 02:15] #44 closed

[2021-11-26 02:16] #43 closed

[2021-11-26 02:17] #42 closed

[2021-11-26 02:18] diegoazh commented on #40
@Anjgpt try the new version 2.0.0 and let me know if the issue persists, you can see it in action on the new documentation page.

[2021-11-26 02:19] diegoazh commented on #39
duplicate #40

[2021-11-26 02:19] #39 closed

[2021-11-26 02:20] diegoazh commented on #38
duplicate #40

[2021-11-26 02:20] #38 closed

[2021-11-26 02:22] diegoazh commented on #36
@ellisgl thank you.

[2021-11-26 02:23] diegoazh commented on #35
Solved in version 2.0.0

[2021-11-26 02:23] #35 closed

[2021-11-26 02:23] diegoazh commented on #34
Solved.

[2021-11-26 02:23] #34 closed

[2021-11-26 02:24] diegoazh commented on #33
Solved.

[2021-11-26 02:24] #33 closed

[2021-11-26 02:25] #32 closed

[2021-11-26 02:27] #22 closed

[2021-11-26 02:28] #21 closed

[2021-11-26 02:29] #17 closed

[2021-11-26 02:30] diegoazh commented on #16
@yze77 check the new documentation if you find any error please feel free to make a PR or open an issue again, Thank you.

[2021-11-26 02:30] #16 closed

[2021-11-26 02:34] diegoazh commented on #13
@josegus try the new version 2.0.0, I will close this issue but feel free to reopen it if you need.

[2021-11-26 02:34] #13 closed

[2021-11-26 02:35] diegoazh commented on #36
Discussion continues on #15

[2021-11-26 02:35] #36 closed

[2021-11-26 03:10] diegoazh commented on #226
Hi, @davydnorris I am glad to hear from you, and thanks @Andrei1524 for joining the discussion.
I think the error is caused because I change the way in that the plugin makes its exports.

Now I export by default the install function and two objects `helpers` and `components` you don't need to do this

`import * as GmapVue from 'gmap-vue'`

any more, now you can do this

`import GmapVue from 'gmap-

[2021-11-26 03:37] davydnorris commented on #226
Thanks @diegoazh I'll give that a try - and you're correct, the documentation still shows the old way.

I was also going to drop you a line as I was looking through the drawing manager changes and noticed a few things:
 - some of the props that map from google maps are doubled up. You have them in your global mapped props file as well as in the main code module. Is this correct?
 - I noticed you n

[2021-11-26 05:03] diegoazh commented on #226
I found the error, something happened on the CI/CD process of GitHub Actions the plugin was packaged inside of the dist folder you need to import it in the following way

`import install from 'gmap-vue/dist/gmap-vue';`

the dist folder shouldn't be there, what do you think guys I add this note to documentations or I deprecate this version and land a new one?

On the other hand, answering your ques

[2021-11-26 05:05] davydnorris commented on #226
No, that's quite non-standard in terms of packages on npm - I would deprecate and push a new one

[2021-11-26 05:19] davydnorris commented on #226
The thing with the drawing manager is that it's an editor and so you really want the mutation - you want two way binding. The shape objects are also quite big and if there are a lot of them then passing the entire array back on every single update will be a performance nightmare.

Also once the shape is drawn, you have no way to change it except by altering its properties directly, and you can't d

[2021-11-26 05:27] davydnorris commented on #226
Have a look at code starting from [this line](https://github.com/diegoazh/gmap-vue/blob/cb82d1a341f3f51d3fb3e8af608d6f00d3b15268/packages/gmap-vue/src/components/drawing-manager.vue#L246)

The setSelection and clearSelection functions use hard coded colours for the fill and border. What should really be happening is that we should have a prop for the selected border and fill, and we should return

[2021-11-26 16:55] CristianDeluxe commented on #226
Same issue here

[2021-11-26 21:59] diegoazh commented on #226
Ok, I think I can see the problem, I'm trying to avoid an antipattern, in Vue, it was possible to update props but from Vue 2 you shouldn't update propose from the child component you need to emit the new value and update it in the parent component you can check it [here](https://vuejs.org/v2/guide/migration.html#Prop-Mutation-deprecated) because of that I'm copying the array in the data object, b

[2021-11-26 21:59] diegoazh commented on #226
I agree with you we need to move this to props or use the options prop to set these values.

[2021-11-27 01:57] diegoazh commented on #204
Yes @dhcmega something was wrong on the CI/CD follow it on the issue #226 I'm working in the fix, and I will deploy a new version and deprecate the version 2.0.0, wait for it please.

[2021-11-27 04:38] davydnorris commented on #226
Perhaps we should break these two issues out into their own separate ones and move the discussion there. I am happy to work on both. The selected colour prop will be pretty simple. The other will require more thought
- we will need to detect changes to the parent array and reflect them in the map by updating the internal array
- we will need to deal with changes to individual array elements by the

[2021-11-27 13:00] dhcmega commented on #204
Hi @diegoazh, I have checked the issue #226, I will wait until is finished to check it, thanks!

[2021-11-27 16:14] diegoazh commented on #226
@davydnorris I think we need to discuss these changes in another issue, can you open a new one because this issue was because of the release 2.0.0 doesn't work, I think in that way we organize the discussion and we can track in a better way the different problems

[2021-11-27 16:16] diegoazh commented on #226
I propose the same as you before reading your comment 😅

[2021-11-27 18:07] #226 closed

[2021-11-27 20:07] judocode opened #231 "Bug: Uncaught Error: Dynamic require of gmap-vue/dist/components/autocomplete-input.vue is not supported"
## Describe the bug

I am trying to move a project to Vite, and this package seems to be the only hangup right now. I am getting an "Uncaught Error: Dynamic require of gmap-vue/dist/components/autocomplete-input.vue is not supported" when attempting to start my app.

## To reproduce

Steps to reproduce the behavior:
1. Clone repository https://github.com/judocode/vite-demo-vue2-gmap
2. Run yarn &&

[2021-11-28 05:41] diegoazh commented on #231
@judocode I think is an issue related with Vite not with the plugin, the library target is `umd` and works as expected with `vue-cli-service` I try in the web to and it works, but it throws in the browser the error that you mention when you use Vite to serve the site. Try to report it to the Vite repository is possible that some extra configuration will be needed.

[2021-11-28 15:11] judocode commented on #231
@diegoazh Thanks for your reply! I can look into seeing if there is a workaround for Vite, although I've been unsuccessful thus far. I believe if you update this package to support ESM, this should fix it as well. ES modules are considered more modern, as ESM can handle CommonJS, and all modern browsers (except IE 11, soon to be EOL'd) handle it natively (which is a major benefit to how Vite/esbui

[2021-11-28 15:26] judocode commented on #231
Here is some pretty good documentation as well!

https://vuejs.org/v2/cookbook/packaging-sfc-for-npm.html

[2021-11-28 19:03] judocode commented on #231
Also looking into this further, it appears it could be possible to use this package with `import GmapVue from "gmap-vue/dist/gmap-vue";` (which is the [UMD file from the webpack output](https://github.com/diegoazh/gmap-vue/blob/master/packages/gmap-vue/webpack.config.js#L27-L35)), however, that requires [MarkClusterer to be specified as external](https://github.com/diegoazh/gmap-vue/blob/master/pa

[2021-11-28 19:53] diegoazh commented on #231
Excellent I think your workaround can be the temporary solution here and maybe we can close the issue, among that I liked so much the resources that you share, and I'm will take a look deeper into that options, maybe for the next, I would like to test rollup as our main bundler for the library but I need to test it firs, on the other hand, I wouldn't like to delay the migration to Vue 3 any longer

[2021-11-30 10:22] BenPilliez opened #232 "Need help on:"
## What you try to do

Hi i'm trying do implement a custom v-text-field in the autocomplete component

## What is the problem

My custom text-field is not displaying correctly, it just ignoring

## What kind of things have you already treated
`<gmap-autocomplete @place_changed="changeCity" class="gmAutocomplete">
        <template v-slot:input="slotProps">
          <v-text-field
            ref="

[2021-12-02 05:19] MinSomai opened #233 "Need help on: Unknown custom element: <gmap-map> - did you register the component correctly?"
## What you try to do

Install the plugin.

## What is the problem

I have been trying to install the plugin since yesterday and I have no idea where I've gone wrong.

## What kind of things have you already treated

I have tried manually registering the components by having `installComponents: false` and with true too. I'll have my current setup below.

## Steps to reproduce

https://codesandbox.

[2021-12-02 05:28] MinSomai commented on #233
I am using the version `2.0.2` of gmap-vue, and going down to `1.5.0` solved the issue. I'll assume version ^2 is for vue3.

[2021-12-02 05:49] davydnorris commented on #233
No it's meant for the current version but @diegoazh made some packaging changes and it's been broken since. Rev back to 1.5 for now while we sort it out

[2021-12-02 10:47] butaminas opened #234 "How to use Clusters?"
I'm looking through the docs (v.2.0.2) and noticed that it is inconsistent in regard to Cluster icons.

First, I tried:
[code]
(as described in the guide section of the docs)
This ended up in `Unknown custom element gmap-cluster` error.

Then tried:
[code]
(as described in the Officially supported components section of the docs)

The component `cluster` doesn't even exist but there is `cluster-ico

[2021-12-03 11:16] ShenWinnie commented on #233
`import * as GmapVue from "gmap-vue"` ;改为 `import GmapVue from "gmap-vue"`试试

[2021-12-03 11:20] ShenWinnie opened #235 "Need help on: how to hide the drawing-control and set drawingMode by myself"
[code]
and no props to hide hide the drawing-control and set drawingMode by myself

[2021-12-03 11:20] #235 closed

[2021-12-03 11:23] ShenWinnie opened #236 "Need help on: How to hide the drawing-control and set drawingMode by myself"
## What you try to do
Hide the drawing-control and set drawingMode by myself

## What is the problem
No props can set to do this.

## What kind of things have you already treated

## Steps to reproduce

[code]

## Os

- [x] Mac Os X
- [ ] Linux (write here the name and version of your distribution)
- [ ] Windows

## Mobile

- [ ] iOS
- [ ] Android

## Versions

- Node:
- NPM:
- Yarn:

## Package m

[2021-12-05 04:24] #233 closed

[2021-12-05 06:57] vatsal8081 opened #237 "Need help on:"
## What you try to do

Explain to us what you are trying to do or what is your goal.

## What is the problem

Explain to us what is the problem or what is the part of the documentation that is not clear.

## What kind of things have you already treated

A small description of the solutions that you already treated.

## Steps to reproduce

Explain to us how to get the same problem or provide a smal

[2021-12-06 09:58] diego-lipinski-de-castro commented on #181
@diegoazh i tested ^2.0.2, same problem

[2021-12-08 19:56] diegoazh commented on #233
@davydnorris are you still having issues?

[2021-12-08 19:57] diegoazh commented on #233
@MinSomai, this plugin is for Vue 2 yet, we will start the migration to Vue 3 but currently works only on version 2.

[2021-12-08 20:01] diegoazh commented on #232
Hi @BenPilliez can you provide a minimal reproduction repository?

[2021-12-09 00:38] davydnorris commented on #233
Hi @diegoazh - I've rolled back to 1.5 because the changes to drawing manager are breaking for me.

This is a much more complex problem than it appears and the current code just doesn't work at all. The moment you copy the shapes array instead of using it directly, you not only lose the ability to pick up edits in the array, you also lose all reactivity on the original array.

My recommendation wo

[2021-12-16 03:07] davydnorris commented on #236
See the example in the documentation that shows how to use the slot to supply your own toolbar and set the drawing mode

[2021-12-20 13:16] #236 closed

[2021-12-20 14:29] vesper8 commented on #234
Seriously.. as mentioned above the cluster is not even in the node_modules folder. Tried with both `src` and `dist`. The documention is wrong. Anyone figure out how to use clusters?

[2021-12-20 14:36] vesper8 opened #238 "Bug: clusters do not work, documention is wrong"
## Describe the bug

A clear and concise description of what the bug is.

## To reproduce

Steps to reproduce the behavior:
Install 2.0.2 library.

Try to pull in clusters, either via `'gmap-vue/src/components/cluster'` or `'gmap-vue/dist/components/cluster'`

Receive error `Can't resolve 'gmap-vue/src/components/cluster`

Notice that inside `node_modules/gmap-vue/dist/components` there is no `clu

[2021-12-20 14:36] #238 closed

[2021-12-20 15:01] vesper8 commented on #234
Tried reverting to `1.5.0` but that gave me some installation issues. Finally what worked for me was reinstalling `vue2-google-maps` and using the cluster from that package like I did before, and it does work `GmapCluster: () => import('vue2-google-maps/dist/components/cluster'),`

This will have to be a workaround until @diegoazh realizes he inadvertently removed `cluster` from his `2.0` release

[2021-12-22 22:23] diegoazh commented on #234
@vesper8 @butaminas, good catch, it is my fault after writing the documentation I change it because the Vue linter rule enforces the name of the component with almost two words to avoid collision with the main library or other packages and I change to `cluster-icon` maybe that cause some issues that I didn't detect, I will take a look on that tonight but is very weird how the example page works fi

[2021-12-22 22:29] diegoazh commented on #234
Take a look at the [example component](https://github.com/diegoazh/gmap-vue/blob/80362637df48da22f8b11013953d19439d2e688b/packages/documentation/docs/.vuepress/components/eg-basic-marker-cluster.vue#L46) in the documentation I'm importing it in that way and it works as expected, remember that you need to have installed the [`"@googlemaps/markerclusterer": "^1.0.13"`](https://github.com/diegoazh/gm

[2021-12-22 22:35] diegoazh commented on #238
@vesper8, continue the discussion on issue #234 for this time. I will take a look at the bot again, sorry.

[2021-12-23 11:15] stavrzt commented on #67
Checked for "2.0.2" and still "undefined", could you check it, please?

[2022-01-06 08:29] stitch opened #239 "Feature: dynamically loading a google maps API key / config, without ENV variables"
## Is your feature request related to a problem? Please describe.

Yes: I'm trying to load the API key dynamically, as this is not known op app instantiation. The solution that works with an environment variable is not desirable as that complicates app deployment. We get the key via a JSON call.

## Describe the solution you'd like
Any way of loading in the API key / config dynamically, which does

[2022-01-07 17:06] vesper8 commented on #234
This also doesn't work for me. And your example is really confusing because it doesn't show how you load all the dependencies. Like where is your package.json that includes `@googlemaps/markerclusterer` ?

Looking forward to a future release because clusters do not work at all with your latest release

[2022-01-11 00:10] mryellow commented on #203
I still have this page open and still haven't got to it.

[2022-01-15 12:49] dhcmega commented on #204
Hi @diegoazh, just in case, I'm still getting `[Vue warn]: Unknown custom element: <GmapMap> - did you register the component correctly? For recursive components, make sure to provide the "name" option.`, even with 2.0.2.
Thanks

[2022-01-15 12:54] Mario996 commented on #232
Hello @diegoazh, I just stumbled upon this since I had the same issue as OP, but I resolved it thanks to your comment. Maybe the documentation should be updated to be aligned with the newest version and then you display a warning like you did on top of the page stating about that slot change. It makes more sense for people with latest version to be able to use code from documentation right away. A

[2022-01-23 20:22] pealthoff commented on #233
Hi @diegoazh , this problem is probably happening because people are following the documentation from the npm page, which is outdated in the way to import the library:
 (import * as VueGoogleMaps from 'gmap-vue') instead of (import GmapVue from 'gmap-vue')

it took me a few hours to realize this, maybe the npm page should only link to the official documentation

Thanks!

[2022-01-25 15:14] BenPilliez commented on #102
Do you have any update for this ? If no, have you got a method to do that ?

[2022-02-03 20:32] #150 closed

[2022-02-03 20:32] #137 closed

[2022-02-03 20:32] #125 closed

[2022-02-03 20:32] #129 closed

[2022-02-03 20:32] #131 closed

[2022-02-03 20:32] #141 closed

[2022-02-03 20:33] #116 closed

[2022-02-03 20:33] #117 closed

[2022-02-03 20:33] #94 closed

[2022-02-03 20:33] #104 closed

[2022-02-03 20:33] #81 closed

[2022-02-03 20:33] #78 closed

[2022-02-03 20:33] #205 closed

[2022-02-03 20:33] #202 closed

[2022-02-03 20:40] #200 closed

[2022-02-05 03:20] #177 closed

[2022-02-09 22:36] #234 closed

[2022-02-09 22:39] diegoazh commented on #234
@vesper8 @butaminas now the cluster should work as it's described in the documentation, please let me know if you found another error. Regards and thank you.

[2022-02-09 22:54] diegoazh commented on #238
Fixed in version 2.0.3

[2022-02-09 22:56] diegoazh commented on #199
@tpkee the cluster is working on v2.0.3, let me know if you found any new issue, thanks.

[2022-02-09 23:12] diegoazh commented on #177
In the new library that we use for clusters, I can't see any option to set a title on the cluster icon, I let you the link [here](https://googlemaps.github.io/js-markerclusterer/modules.html) if you find the way to set the title please let me know or, also, you can make a PR, contributions are welcomed; until having an answer for you I'll maintain this issue closed.
Thank you and regards.

Link to

[2022-02-09 23:15] diegoazh commented on #81
@antoinematyja cluster is working properly on the new v2.0.3 please test it. Regards.

[2022-02-09 23:16] diegoazh commented on #80
@antoinematyja cluster is working properly on the new v2.0.3 please test it. Regards.

[2022-02-09 23:16] diegoazh commented on #40
@Anjgpt cluster is working properly on the new v2.0.3 please test it. Regards.

[2022-02-09 23:17] diegoazh commented on #39
@Anjgpt  cluster is working properly on the new v2.0.3 please test it. Regards.

[2022-02-09 23:17] diegoazh commented on #38
@Anjgpt cluster is working properly on the new v2.0.3 please test it. Regards.

[2022-02-09 23:25] diegoazh commented on #137
@akc4 the cluster component was fixed in v2.0.3, please test it and let me know if something was wrong. Regards.

[2022-02-10 13:46] diegoazh commented on #205
The autocomplete component is working well on v2.0.3

[2022-02-10 20:50] diegoazh commented on #94
This behaviour is not something related to the plugin is related to the navigator behaviour.

[2022-02-10 20:53] diegoazh commented on #104
This behaviour is related to the navigator not to the plugin.
Related issue #94 (is something similar, the other face of the coin).

[2022-02-10 21:00] diegoazh commented on #116
Solved, we use `paths_changed` at the end.
Thanks and regards.

[2022-02-10 21:04] pjatx commented on #94
@diegoazh Apologies, I haven't been working on this project for a while.

I ended up being able to make it work with the following code fwiw:

[code]

[2022-02-10 21:06] diegoazh commented on #117
In v2.0.3 you have that prop and other possible props for Markers ([API link](https://diegoazh.github.io/gmap-vue/code/components/marker-icon.html#props)).

[2022-02-10 21:08] diegoazh commented on #141
I will start the upgrade soon, now Vue 3 is the new LTS and default version.

[2022-02-10 21:25] diegoazh commented on #125
Solved, thank you for reporting it.

[2022-02-10 21:28] diegoazh commented on #129
Working well on v2.0.3, please read the new way to import the plugin. Let me know if you have issues. Thanks and regards.

[2022-02-10 21:44] diegoazh commented on #94
@pjatx nice approach.

[2022-02-11 09:26] diegoazh commented on #118
@websitevirtuoso @julienperrault can you test the last v2.0.3 and let me know if the bug persists.

[2022-02-11 10:01] razukc commented on #234
No. It still is not working. There is some error about _repaint_ not being a function at _updated_ hook in _cluster-icon.vue_ file.
![image](https://user-images.githubusercontent.com/4814921/153572017-afbb1147-5add-4daf-9b34-de50639aa2da.png)

[2022-02-11 10:05] razukc commented on #118
I've tested it. The issue still exists.
![image](https://user-images.githubusercontent.com/4814921/153572678-5ce6569b-2f31-4524-9ee7-5c2db2b5d1b1.png)

[2022-02-11 13:52] VirginieBouvarel opened #242 "Need help on: customize cluster icon"
## What you try to do
I would like to customize the cluster icon with a custom url src or with css class.

## What is the problem
only the default cluster-icon works properly.

## What kind of things have you already treated
the image-path works only with the google map default url, but not with local path,
the styles array seems doesn't work,
the clusterClass seems doesn't work.

## Steps to repr

[2022-02-11 15:09] dirk-ecker commented on #150
Thank you but I can't get it working. He always complains

[code]

and I have checked this

[code]

and also that
`"marker-clusterer-plus": "^2.1.4"`

in my package.json.

My view uses

[code]

Can you help?

[2022-02-11 17:31] diegoazh commented on #150
Thank you @dirk-ecker you remember me that I need to update the documentation, you need to install `@googlemaps/markerclusterer`, the market cluster component was renamed to `Cluster` and it is exported from the library in a `components` object you need to do something like the following

[code]

[2022-02-11 17:40] diegoazh commented on #118
Can you share with me you component @razukc? to reproduce the issue locally, thanks.

[2022-02-11 17:44] diegoazh commented on #234
@razukc we can continue with the discussion on issue #118, I'll lock this issue to avoid duplications. Thanks.

[2022-02-11 17:47] diegoazh commented on #135
@aphavichitr can you check the options on the new v2.0.3? let me know If that option is not inclluded.

[2022-02-11 17:50] diegoazh commented on #138
@akc4 can you check the new v2.0.3 and let me know if those options are not present, in some cases we give an `options` prop to use for that options that are not commonly used but that will be possible that someone needs on some cases.

[2022-02-11 17:54] diegoazh commented on #140
Sorry for the boit @siba2893 I will check the option for full-screen, for loading I think you can use the promise to run a lading and when the promise resolves you can disable the loading.
Check this part o the documentation [lazy loading](https://diegoazh.github.io/gmap-vue/#lazy-loading).

[2022-02-11 17:58] diegoazh commented on #171
Can you test the new v2.0.3 @mstfkhazaal?

[2022-02-11 18:07] diegoazh commented on #130
@momtboy can you test the new v2.0.3?

[2022-02-11 18:10] danbohea commented on #150
Please stop asking me to test your library. As I already mentioned above, I'm no longer using it.

[2022-02-11 18:14] diegoazh commented on #151
@CamilleDrapier what was the PR? sorry I was focused on refactoring the plugin and trying to make it more readable and intuitive and I miss you PR.

[2022-02-11 21:08] #151 closed

[2022-02-11 21:12] diegoazh commented on #151
Merged! Thank you so much!

[2022-02-11 21:14] diegoazh commented on #150
No problem, sorry for that.

[2022-02-11 21:22] diegoazh commented on #143
I apologize for the bot, is the last time that I try to configure it, if it doesn't work I'll remove it from the repository.

[2022-02-11 21:25] diegoazh commented on #144
Check the new v2.0.3 and the documentation for it. Regards.

[2022-02-11 21:26] diegoazh commented on #102
I'm on it, right now.

[2022-02-11 21:31] diegoazh commented on #232
I will take a look @Mario996.

[2022-02-11 21:33] diegoazh commented on #204
Please change

[code]
for
[code]

[2022-02-11 21:34] diegoazh commented on #203
Sorry for that @mryellow I'll take a look as soon as possible.

[2022-02-11 21:36] diegoazh commented on #67
Ok, @stavrzt I'll take a look as soon as possible. Thanks.

[2022-02-11 23:08] diegoazh commented on #102
I have good news on this topic, it is already solved by Google 🎉.
You can check this [answer on StackOverflow](https://stackoverflow.com/a/42011655/5302733) and comment #42 of November 26, on the page that it shares.
The Google team solves this problem using [session tokens](https://developers.google.com/maps/documentation/places/web-service/session-tokens), you can find the explanation on the lin

[2022-02-11 23:09] #102 closed

[2022-02-11 23:10] mryellow commented on #203
Sorry I haven't had a chance to check it. Have cycled back onto the involved project so getting closer, although it has been worked around in the meantime.

[2022-02-11 23:24] diegoazh commented on #118
I think is fixed on v2.0.4 can you confirm that @razukc?

[2022-02-12 14:24] dhcmega commented on #204
it worked. Thanks!

[2022-02-13 01:34] diegoazh commented on #143
@adriandmitroca I land a new version where you can do that can you test it, I'm trying to deploy the documentation right now.

[2022-02-13 02:10] diegoazh commented on #143
Our new documentation is ready, I tested putting the google maps script in an HTML file and after that, I load the plugin without API key using only the new option `customCallback` you can find it [here](https://diegoazh.github.io/gmap-vue/#quickstart-webpack-nuxt). Regards.

[2022-02-13 02:10] diegoazh commented on #143
Solved on v3.0.0

[2022-02-13 02:41] #204 closed

[2022-02-13 03:58] diegoazh commented on #242
@VirginieBouvarel, hi I will take a look at it as soon as I can.

[2022-02-13 04:07] diegoazh commented on #242
@VirginieBouvarel have you checked the icon property that we have had since v2.0.0?

[2022-02-14 11:49] VirginieBouvarel commented on #242
@diegoazh Thanks for your help! I finally got it how to use the styles object correctly, and I have could set my customs clusters. I think the url was wrong.

[2022-02-14 11:50] #242 closed

[2022-02-14 21:51] aphavichitr commented on #135
Sure let me test and get back to you. I've been using a custom calculation to rotate it, so I will need to change the implementation.

[2022-02-14 23:07] diegoazh commented on #242
Nice, you're welcome.

[2022-02-15 05:51] razukc commented on #118
I tested it and I confirm that it is working. But for some reason, _yarn add gmap-vue_ is installing gmap-vue@3.0.0. However, the warning is gone now.

[2022-02-15 10:22] razukc opened #247 "this.$clusterObject.repaint() is not a function"
@razukc we can continue with the discussion on issue #118, I'll lock this issue to avoid duplications. Thanks.

_Originally posted by @diegoazh in https://github.com/diegoazh/gmap-vue/issues/234#issuecomment-1036457506_

This is a different issue than #118. So, I had to create a new one here.

Try this here: https://stackblitz.com/edit/nuxt-starter-mjnhuy?ctl=1&embed=1&file=pages/index.vue

If you

[2022-02-15 10:22] #247 closed

[2022-02-15 16:15] dirk-ecker commented on #150
Okay, in the end I got it running.

[2022-02-15 18:02] diegoazh commented on #150
Excellent I'll mark this issue as solved.

[2022-02-15 18:05] #118 closed

[2022-02-15 18:09] diegoazh commented on #247
@razukc when you open an issue please select some of the templates that we have, on the other hand, is this issue still happening on the last version (v3.0.0)?

[2022-02-15 18:15] diegoazh commented on #247
With the Stackblitz that you share I can't see any error, nothing is thrown.

[2022-02-15 18:25] diegoazh commented on #239
I liked your suggestion so much, I will take a look at these possible solutions.

[2022-02-15 20:07] #14 closed

[2022-02-15 20:11] diegoazh commented on #14
@josegus now we have an `update:position` event on markers, at the moment is not possible to use `v-model` directive of Vue 2 in this prop but in Vue 3 it will be possible.
I hope that this will be useful, check the [documentation](https://diegoazh.github.io/gmap-vue/guide/marker.html) for more details.
Regards.

[2022-02-16 01:07] #239 closed

[2022-02-16 01:46] #232 closed

[2022-02-16 03:19] diegoazh commented on #185
Hi, @adavie1 I checked the Google Maps API documentation and the nearby places are only a request, that you can make, I think that could be made from your application and the plugin doesn't need to implement that, after the request is made you can pass into the map the coordinates to display markers on it.
If your idea was in another direction please let me know here, on the other hand, you can tr

[2022-02-16 03:21] #185 closed

[2022-02-16 03:23] diegoazh commented on #181
@captenmasin do you have any idea, research, investigation, suggestion or something about this issue?

[2022-02-16 03:35] diegoazh commented on #179
The problem is that you need to replace the `Map` component itself `new google.maps.Map(...)` that will affect the entire plugin API, this fact and the beta state of this feature make it difficult to implement, on the other hand, I'm focused on stable features and migrate this plugin to Vue v3.
Maybe I could try some implementations but not right now, in the mind while you can try to use the `MapE

[2022-02-16 03:41] diegoazh commented on #173
Hi, can you share your implementation with us or a minimum repository? to check this behaviour.

[2022-02-16 03:59] diegoazh commented on #169
You need to update the center of the map too, I only added this line `this.center.lng += 1;` to your `onTriggerIssue` method and it works as expected.

[code]

[2022-02-16 04:00] #169 closed

[2022-02-16 04:37] #148 closed

[2022-02-16 04:44] diegoazh commented on #146
can you please provide a snippet or minimum repository to visualize better what you need?

[2022-02-16 05:00] diegoazh commented on #140
All events are available, you cant take the component reference and add listeners to every event, something like the following

[code]

You can check the events [here](https://developers.google.com/maps/documentation/javascript/events).
The better way to detect if the map is loaded is using the `tilesloaded` event. to detect if the map is in fullscreen maybe [this answer on StackOverflow](https://

[2022-02-16 17:38] dom-velloso commented on #247
Hi @diegoazh, I updated to v3.0.0 and gmap started throwing this same error.
`[Vue warn]: Error in updated hook: "TypeError: this.$clusterObject.repaint is not a function"

found in

---> <ClusterIcon> at node_modules/gmap-vue/dist/components/cluster-icon.vue
       <MapLayer> at node_modules/gmap-vue/dist/components/map-layer.vue`

<img width="518" alt="Screen Shot 2022-02-16 at 14 38 05" src="ht

[2022-02-17 05:14] razukc commented on #247
[Stackblitz](https://stackblitz.com/edit/nuxt-starter-mjnhuy?file=pages%2Findex.vue
)
I added `setTimeout` of `1000 ms` to update value of `center` after the page is `mounted` and the error is triggered. Actually, you can try to change value of any property there. You can even try changing value for `GmapCluster`. The error is still thrown.

[2022-02-17 09:55] balabambe commented on #179
Thanks for advice, I will try hard to implement. thanks.

[2022-02-18 13:10] dhcmega opened #251 "Bug: rotateControl: true not activating the controls"
## Describe the bug

The option rotateControl is ignored, other option do work, like zoomControl

## To reproduce

Create a map with these options:
      mapOptions: {
        zoomControl: true,
        mapTypeControl: true,
        scaleControl: false,
        streetViewControl: true,
        rotateControl: true,
        fullscreenControl: true,
        disableDefaultUi: false,
      },

## Expec

[2022-02-18 13:27] dhcmega commented on #242
hi @VirginieBouvarel
can you share your code as an example? thanks

[2022-02-18 19:36] diegoazh commented on #247
@razukc and @dom-velloso the bug was fixed. Thank you for reporting it. Regards.

[2022-02-19 14:05] dom-velloso commented on #247
Cool, thanks @diegoazh

[2022-02-19 16:55] #138 closed

[2022-02-19 17:10] diegoazh commented on #132
In all components you have an `options` prop there you can define all properties of the Google Maps component that we don't define as Vue props. Currently, I added props to all shapes but in the [circle API](https://diegoazh.github.io/gmap-vue/code/components/circle-shape.html#props) documentation, you can see an example about how to use it, on the other hand, in the documentation of the [circle s

[2022-02-19 17:29] diegoazh commented on #130
From v3.0.0 and above we change from `gmapApi` to `getGoogleMapsAPI`, which you should use in the following way

[code]

You can check the documentation [here](https://diegoazh.github.io/gmap-vue/#accessing-google-maps-api). Let me know if that works.

[2022-02-19 17:30] #128 closed

[2022-02-19 17:34] diegoazh commented on #84
From v2.0.0 and above the slog is `v-slot:default` instead of `v-slot:input`.

[2022-02-19 17:36] diegoazh commented on #79
@kabugh the v2.0.0 or above works as expected? let me know, please. Regards.

[2022-02-19 17:38] diegoazh commented on #78
Do you try to use the `options` prop? you can use it to define Google Maps properties that we don't define as Vue props explicitly. Let me know if that works. Regards.

[2022-02-19 17:54] kabugh commented on #79
@diegoazh hey, sorry, I can't reproduce it anymore. If I have a chance to test it, will let you know :)

[2022-02-19 18:48] diegoazh commented on #67
The problem is that the map is not visible yet when you are calling `getBounds` method, the [official documentation](https://developers.google.com/maps/documentation/javascript/reference/map#Map.getBounds) says:

you can try the following example:

[code]
among that, I will land a new version that emit a tilesloaded Vue event, in that you could do the following:

[code]

[2022-02-19 19:02] diegoazh commented on #67
Sorry, my bad, currently you can use that option, I mean the `tilesloaded` event is already there

[code]

[2022-02-19 19:21] diegoazh commented on #67
I added this to our documentation, you can see it [here](https://diegoazh.github.io/gmap-vue/guide/map.html#some-tricky-parts)

[2022-02-19 19:21] #67 closed

[2022-02-19 20:38] diegoazh commented on #130
I got it worked, is very tricky, I used the example that you can find here

[code]

[2022-02-19 22:01] diegoazh commented on #130
We added this example to our documentation [here](https://diegoazh.github.io/gmap-vue/guide/map.html#some-tricky-parts)

[2022-02-19 22:01] #130 closed

[2022-02-19 22:08] diegoazh commented on #79
Ok, @kabugh in that case I'll close the issue and if the issue still happened feel free to reopen it.

[2022-02-19 22:08] #79 closed

[2022-02-21 06:53] razukc commented on #247
That's great! By the way, will you add `props` back to `cluster-icon`?

[2022-02-21 13:16] diegoazh commented on #247
No, I'll not. Why? Do you need anything?

[2022-02-22 03:53] vesper8 opened #254 "v3.4.3 completely breaks GmapInfoWindow"
Working perfectly on v3.4.2

On v3.4.3 the slot seems to be broken because my info window completely fails to appear.

v3.4.2:
<img width="287" alt="Screen Shot 2022-02-22 at 5 51 36 AM" src="https://user-images.githubusercontent.com/816028/155059980-f30aadd7-b23f-4876-9364-f779499049a7.png">

v3.4.3:
<img width="167" alt="Screen Shot 2022-02-22 at 5 50 03 AM" src="https://user-images.githubuserco

[2022-02-22 03:56] vesper8 commented on #254
@diegoazh Sorry for not filling out your issue template, I hope you fix this bug anyway. Till then I'll be on `3.4.2`

[2022-02-22 05:45] razukc commented on #247
Yes. I need `styles` & `clusterClass` in `<GmapCluster>`. There were `props` for them before.
Example:
[code]

[2022-02-22 09:50] joe94113 commented on #247
@diegoazh Awsome thanks.

[2022-02-22 10:18] alisspers opened #255 "Feature: GmapCluster - Allow passing options to MarkererClusterer"
## Is your feature request related to a problem? Please describe.

The GmapCluster component works great but doesn't allow customizing the end result. Specifically, we'd like to change the colors of the cluster icons to follow our site's color palette.

## Describe the solution you'd like

A way to pass in the [options allowed by MarkerClusterer](https://googlemaps.github.io/js-markerclusterer/int

[2022-03-01 20:18] diegoazh commented on #254
@vesper8 can you share your implementation of the `info-window` component?

[2022-03-01 21:06] diegoazh commented on #254
I tested v3.4.3 and it works as expected with the old form, using the options prop with content inside, and using the new prop content it works well too. I let you a print below:

![image](https://user-images.githubusercontent.com/10166935/156248203-80222720-b484-41cc-998f-8c551b3a7e00.png)

Please can you share your implementation or a minimum repository to reproduce your bug?

[2022-03-01 21:22] diegoazh commented on #255
Hi @alisspers did you try with the `options` prop? with that option you can set the properties of Google Map objects that we didn't map to Vue props. I mean for example with the `InfoWindow` component before v3.4.3 we didn't have a content prop but you could set it using the `options` prop like below

[code]

Please can you try with the `option` prop first and let me know if that prop doesn't allo

[2022-03-02 04:30] diegoazh commented on #254
Thank you. It is weird because I only added new props. But, I'll check again and test your component.

[2022-03-02 12:05] vesper8 commented on #254
@diegoazh As I'm not using your new content prop, but instead just replacing the default slot with the content, perhaps this is what's causing the conflict? When the prop is not provided, it does not correctly fall back on the slot?

And what if both the slot and the prop was provided, which would take precedence?

[2022-03-02 14:13] diegoazh commented on #255
Try to execute the function because the prop expects an object not a function reference, I mean

[code]

[2022-03-02 15:22] #254 closed

[2022-03-02 15:32] diegoazh commented on #254
The problem was the default content of the new `content` prop, at runtime, it overrides the content of the default slot.
I updated the documentation with a warning of using one of these two ways to pass data to the `InfoWindow` component and notice the user that the `content` prop has precedence over the default slot.
Can you test the new version and confirm if it is working as expected?
Regards.

[2022-03-02 16:35] alisspers commented on #255
Thanks for getting back! Sorry, I forgot to mention that I had "clusterOptions" as a computed property in my example above.
I've also tried having it in a `data` property (plaing object) as well as hardcoding it into `<GmapCluster :options="{ renderer: ... }">`. No luck I'm afraid.

Did you take a look at those lines of code I linked? [L58-L63 in cluster-icon.vue](https://github.com/diegoazh/gmap-

[2022-03-02 18:21] vesper8 commented on #254
@diegoazh Can confirm everything works again in 3.4.4 : )

Thanks for the fix!

[2022-03-02 18:27] vesper8 commented on #254
@diegoazh On a side note, I'm using gmap-vue in a Vue 3 project right now, in combination with @vue/compat. Everything works fine but I get a few warnings in the CLI console. @vue/compat saves the day but I look forward to your new release that will be fully compatible with Vue 3 : ) I understand you're slowly getting that ready. Keep up the good work!

[2022-03-03 02:46] diegoazh commented on #255
@alisspers you're right, I'll fix it right now.

[2022-03-03 03:02] #255 closed

[2022-03-03 03:07] diegoazh commented on #255
@alisspers can you test the new version and confirm if this component is working as expected?

[2022-03-03 10:49] alisspers commented on #255
It didn't, but I've found another bug that causes it not to work. The prop specification states "algorithm" instead of "options" for the prop name: https://github.com/diegoazh/gmap-vue/blob/master/packages/gmap-vue/src/components/cluster-icon.vue#L93-L100

I changed that locally and tried again, then it works!

[2022-03-04 22:40] amura11 commented on #233
I ran into the same issue after upgrading from 1.5.0 using TypeScript. Using `import GmapVue from 'gmap-vue';` is the correct solution but in TypeScript you'll also need the a declaration file (at least I did). I ended up using the following declaration file:

**gmap-vue.d.ts**
[code]

This lets you import and setup the library as expected (using `import GmapVue from 'gmap-vue';`), allows you to r

[2022-03-09 19:02] nate998877 opened #258 "Bug: mouse events don't trigger on <GmapInfoWindow>"
## Describe the bug

Mouse events attached to GmapInfoWindow don't trigger. The events tied to the actual tag appear to be moved with the flyaway, causing any custom functionality to be removed.

## To reproduce

Steps to reproduce the behavior:

initalize isOpened = true
[code]
This is an oversimplified example of how to view the problem.

## Expected behavior

I expect the displayed window to ha

[2022-03-11 15:36] diegoazh commented on #258
can you provide a minimum repository?

[2022-03-12 19:09] dhcmega commented on #118
Hi, I'm on 2.0.4 with "@googlemaps/markerclusterer": "^1.0.26", and I'm getting this same error: TypeError: this.$clusterObject.repaint

Is this only fix on v3 or also for v2?
thanks

[2022-03-12 22:52] #231 closed

[2022-03-12 22:56] diegoazh commented on #231
@judocode finally I got it. Can you confirm if this new version works fine on a Vite project?. Regards.

[2022-03-12 23:13] diegoazh commented on #118
Hi, that bug was fixed on version 3.

[2022-03-13 01:04] judocode commented on #231
Seems to be working great, awesome work @diegoazh 🎉 !

[2022-03-13 04:29] dhcmega commented on #118
I don't know why I thought v3 was for vue v3. It worked right away. Thanks!

[2022-03-18 13:24] dhcmega opened #260 "Feature: Hide default features/landmarks/places"
## Is your feature request related to a problem? Please describe.

I need a clean map because it's too crowded with default landmarks and places.

## Describe the solution you'd like

AFAIK gmaps accepts an `style` prop that allows this to be controlled.
https://developers.google.com/maps/documentation/javascript/examples/hiding-features

## Describe alternatives you've considered

If it's no poss

[2022-03-21 18:24] nate998877 commented on #258
https://github.com/nate998877/gmap-example

the vue.use is in src/main.js

Notice, @mouseover, @mouseout, & @onclick do not trigger for the info window when their respective mouse events are triggered. The x does function properly.

[2022-03-22 03:23] joe94113 opened #261 "Feature: Restricting Map Bounds"
## Is your feature request related to a problem? Please describe.

How to set map boundaries

## Describe the solution you'd like

the user cannot pan or zoom to beyond the constraints set on the map.

## Describe alternatives you've considered

## Additional context

[2022-03-22 03:28] joe94113 commented on #261
#### I use bounds changed to get the desired boundaries

[code]
#### Restricting Map Bounds

[code]

[2022-03-22 03:28] #261 closed

[2022-03-23 08:05] Anjgpt commented on #242
Hi @diegoazh, I'm using gmap-vue ^3.5.2 and not able to pass the style prop and I can see style prop is not present in doc [here](https://diegoazh.github.io/gmap-vue/guide/cluster.html#source-code). in 1.x.x version it was present.
[code]

[2022-03-23 08:09] Anjgpt commented on #247
Hi @diegoazh @razukc , I'm using gmap-vue ^3.5.2 and not able to pass the style prop and I can see style prop is not present in doc [here](https://diegoazh.github.io/gmap-vue/guide/cluster.html#source-code). in 1.x.x version it was present.

<gmap-cluster
    :styles="markerClusterStyles"
    @click="setSidePanel('cluster', $event)"

[2022-03-23 09:43] Anjgpt commented on #255
@alisspers does this work for you? I'm passing options and not able to apply the custom style.
[code]

[code]

[2022-03-23 11:39] alisspers commented on #255
@diegoazh sorry I forgot to update you here – it works great for me now. Really appreciate your work and your quick response to my issue.

@Anjgpt the "renderer" option must be an object. In your case, it should be a plain JS object with a method called "render". Then it works!
Like this:

[code]

[2022-03-23 12:37] Anjgpt commented on #255
Thanks, @alisspers for the quick response really appreciate it. It works now.

[2022-04-03 03:04] davydnorris opened #263 "Bug: gmap-vue breaks in Nuxt unless defined as client side only"
## Describe the bug

A default install and configuration of gmap-vue into a Nuxt project as per the documentation will fail with the message "Document is not defined" when a page containing a map is displayed. This is due to the default Nuxt behaviour of server side rendering, and the fact that the MapLayer component has a CSS style section in it.

## To reproduce

Steps to reproduce the behavior:

[2022-04-03 03:04] #263 closed

[2022-04-03 03:08] davydnorris opened #264 "Bug: gmap-vue breaks in Nuxt unless defined as client side only"
## Describe the bug

A default install and configuration of gmap-vue into a Nuxt project as per the documentation will fail with the message "Document is not defined" when a page containing a map is displayed. This is due to the default Nuxt behavior of server side rendering, and the fact that the MapLayer component has a CSS style section in it.

## To reproduce

Steps to reproduce the behavior:

[2022-04-03 23:18] davydnorris opened #265 "Feature: Proposed new implementation of DrawingManager, discovered issues with Shapes"
## Is your feature request related to a problem? Please describe.

I submitted the original Drawing Manager component, which mutated the shapes passed down into it. As this was an anti-pattern, it was refactored but this has quite badly broken its functionality. After looking at how the original Drawing Manager could be properly refactored, I have decided that it would be better to make it a simpl

[2022-04-04 01:24] davydnorris opened #266 "Bug: Shapes have editable prop but do not respond to edits"
## Describe the bug

The current implementation of the Google Maps API Shapes have props to set draggable and editable, however their implementation ignores any changes to the shapes if these are set to true.

The only Shape that is properly reactive is the Marker, which responds to dragend and emits an update event with the new position. However Marker also exposes drag events, and I'm not sure i

[2022-04-13 11:30] razukc commented on #247
@Anjgpt
Lot has changed in a new version. Did not find a way to use a CSS class, so I ended up using:
`
<GmapCluster :options="clusterOptions">

</GmapCluster>
`
`clusterOptions` is a `computed` variable
`
clusterOptions() {
	return {
		renderer: {
			render: ({ count, position }) =>
				new google.maps.Marker({
				    label: { text: String(count), color: "white", fontSize: "16px" },
					icon: {

[2022-04-13 12:36] Anjgpt opened #267 "Bug: when the marker size is greater than 1000 map loading slowly and browsers getting hang"
## Describe the bug

I'm using "gmap-vue": "^3.5.2" and facing slow performance(Browser hang) when the marker size is greater than 1000. Is there any limit on plotting markers?
[code]
## To reproduce

Steps to reproduce the behavior:
1. Create a project that shows a map with markers
2. Pass markers objects which have >1000 markers.
3. It tool some time to plot markers and browsers hangs.

## Expec

[2022-04-14 01:13] davydnorris commented on #267
Have you tried doing the same just using plain Javascript and the Google Maps API directly? Would be good to have some comparisons to see if it's the overhead of Vue or not

[2022-04-14 06:29] Anjgpt commented on #267
Hi @davydnorris , I've tried this with native Google Maps API and it's loaded within 1 sec.
https://codesandbox.io/s/vigorous-currying-z4t174?file=/index.ts

[2022-04-15 03:55] davydnorris commented on #267
hmmm that's a shame - I'm playing around with the code for the various shapes at the moment so I'll see if anything stands out in terms of performance issues

[2022-04-15 06:44] davydnorris commented on #266
Actually upon a closer look they actually do - the bug is actually in the Marker position update, which has been implemented differently to the others. Will raise a separate bug

[2022-04-15 06:44] #266 closed

[2022-04-18 06:20] azusa5526 opened #268 "Bug: Add marker by GmapDrawingManager get fail message "shape.overlay.setEditable is not a function"."
## Describe the bug

Add marker by GmapDrawingManager will get fail message "shape.overlay.setEditable is not a function". In this time click the map or draw another shape will get fail message "this.selectedShape.overlay.setEditable is not a function"

## To reproduce

Steps to reproduce the behavior:
1. Create a new vue project
2. Add gmap-vue library by npm
3. import GmapVue from 'gmap-vue' in

[2022-04-18 20:28] davydnorris commented on #268
OK I can see what's happening here and it's a bug. Markers are not like all the other shapes in that they can be dragged but not edited.

I am currently rewriting the whole Drawing Manager to be more of a wrapper for the Google component, because the current approach mutates the props passed in and alternatives are too hard to manage. This means the Drawing Manager will only be used for creating n

[2022-04-19 02:52] azusa5526 commented on #268
Thanks for your reply.
Due to the lack of time, I copy the Drawing Manager source from node_modules into my project and added the if statement directly to 'setSelection(shape)' & 'clearSelection()' in order to avoid markers calling the 'setEditable' function.
Let me thank you one more time for replying to my message.

Best Regards, Andrew (azusa5526)

[2022-04-22 21:49] diegoazh commented on #242
Please read the following [comment](https://github.com/diegoazh/gmap-vue/issues/255#issuecomment-1076272469), I think that will solve your problem.

[2022-04-22 21:51] diegoazh commented on #258
Thanks, @nate998877 I'll take a look at it as soon as I can.

[2022-04-23 18:18] diegoazh commented on #260
Hi @dhcmega I'm not sure if this feature is needed you can manage that in the following way

[code]

Please let me know if this solves your issue.

[2022-04-23 18:26] diegoazh commented on #264
Hi, @davydnorris I update the following [stackblitz example](https://stackblitz.com/edit/github-52grpx) to the latest version of the plugin and it works, I can't see any error on the console.
Can you fork it and configure it to see the errors that you mention?

[2022-04-23 18:41] diegoazh commented on #265
@davydnorris I liked the suggestion, I'm not sure but I suppose that you are currently working on a PR, is that right? If the answer is yes I wait for it and focus on the new v4.0.0 for Vue 3 version, otherwise the feature will need to wait until I finish that work.

I hope that you are glad to contribute to the project again and fix this weird behaviour on the drawing manager component and its sh

[2022-04-23 18:46] diegoazh commented on #267
We wait for your feedback @Anjgpt

[2022-04-23 18:48] diegoazh commented on #268
Related to #265

[2022-04-23 18:50] diegoazh commented on #268
I will leave the issue on `stand by` until @davydnorris finish the PR for the mentioned feature above.

[2022-04-23 19:31] dhcmega commented on #260
Hi @diegoazh
I have just tested it and it worked!
I have used it like this:
[code]
To remove all of them.

Thank you so much for taking the time to respond.
Regards

[2022-04-24 00:30] davydnorris commented on #265
Yep happy to do this. I'm currently looking at all the shapes and I think there's a problem with mutation in many because the positioning and size props are all arrays or objects, so they'll need to change.

Also I am looking at the clickable and draggable props - we should probably only attach the appropriate event handlers if these are true. There's a lot of initialiser code going on and this ma

[2022-04-24 00:32] davydnorris commented on #267
@Anjgpt can I ask you to do us a favour?

Can you please try this out with:
 - vue-google-maps original library
 - gmap-vue with individual markers and not using the cluster
 - gmap-vue with the cluster as before, but no extra props
 - compare to the plain Javascript

I want to try and figure out where the performance issue is coming into play

[2022-04-24 00:34] davydnorris commented on #268
Use the workaround as you have done already until I fix all the shapes - but I'll fix it in an update for all shapes as there are some issues with them all

[2022-04-24 00:34] davydnorris commented on #264
Your example doesn't actually draw a map, so this is why there's no error - the error occurs when the map is actually drawn

[2022-04-26 05:03] Anjgpt commented on #267
I've followed these steps mentioned in this article https://tighten.com/blog/improving-google-maps-performance-on-large-datasets/.

Looks like a looping marker component causing delay/slowness.

[2022-04-26 23:00] davydnorris commented on #267
@Anjgpt was there one particular step that made the difference?

[2022-04-29 05:41] Anjgpt commented on #267
This step.

[2022-04-29 06:31] davydnorris commented on #267
@Anjgpt oh that's weird - I thought you were already using the cluster because of your code example in the bug explanation?

Is your code any different to your initial report?

[2022-04-29 11:36] Anjgpt commented on #267
@davydnorris I was using the <gmap-cluster> <gmap-marker> component earlier and now I've removed them and directly used google Maps API to plot marker and for cluster MarkerClusterer.

This speeds up the performance

[2022-04-30 02:16] davydnorris commented on #267
OK so that sounds like a problem with either the MarkerCluster component or the Marker component.

If you are interested in helping try to locate the problem I'd love if you could set up the same data with the old vue-google-maps library. I am currently rewriting the Drawing Manager and shapes components, which is why I can't do it myself

[2022-05-03 14:50] arjendejong12 opened #270 "Feature: remove core-js and let the bundler do the polyfilling"
## Is your feature request related to a problem? Please describe.

The [explicit import](https://github.com/diegoazh/gmap-vue/blob/master/packages/gmap-vue/src/main.js#L1...L2) of core-js is doubling the file size when importing the package with ES6.

## Describe the solution you'd like

I feel like you should let the bundler add polyfills instead of including all by default, as people usually han

[2022-05-03 22:25] davydnorris commented on #270
I agree with this - was surprised when I saw core-js was an explicit add

[2022-05-05 09:31] Schotsl opened #271 "Need help on:"
## What you try to do

I want to style clusters with my own icon, but I can't find any examples. Is this even possible using this package?

## What is the problem

It isn't clear to me what prop I can use for styling the icons. I've seen people use "styles" in other issues but this prop isn't documented.

## What kind of things have you already treated

I've read the documentation but the only rel

[2022-05-05 23:09] davydnorris commented on #271
you use icon, but need to do it for each marker inside the cluster. Here's an example from my own code, which uses custom responsive SVG based markers:

in the template inside a gmap-map section:
[code]

in the script:
[code]

svg.icons:
[code]

[2022-05-09 09:46] Schotsl commented on #271
Thanks for your reply! Altough I don't think I fully understand.. This is my HTML / Vue

[code]

[code]

So I got markers set, but the cluster still shows the default cluster icon? Perhaps I am missing something :(

[2022-05-09 23:42] davydnorris commented on #271
@Schotsl can you try the same thing without the cluster and see if the markers customise then? I want to eliminate any problem with your url first

The cluster component is actually just a wrapper round a third party component [markerclusterer](https://www.npmjs.com/package/@googlemaps/markerclusterer). Looking at the code in that, it may be you will have to supply a render function that customise

[2022-05-11 09:44] Schotsl commented on #271
The URL is fine since every marker has a custom icon. I think you're right about replacing the renderer with a custom one for setting cluster icons. I'll try it out today and get back to you! :)

[2022-05-11 13:05] Schotsl commented on #271
Thank you so much for your help! I turned out that I did have to rewrite my own render class, it ended up looking something like this

[code]

And then I just create an instance in Vue and pass it as a renderer prop

[2022-05-11 13:05] #271 closed

[2022-05-23 21:04] arjendejong12 commented on #270
@diegoazh Need any help with this?

[2022-05-31 22:59] davydnorris commented on #270
@arjendejong12 if you feel like doing it and testing and then setting up a pull request that would be great!
@diegoazh doesn't get on here very much so having it all ready would be great

I've refactored the Drawing Manager and now doing the Shapes components as well

[2022-06-08 07:56] andreavettore commented on #15
Hello,
any ETA for vue3 support?

[2022-06-08 20:33] diegoazh commented on #15
Hi @andreavettore I'm currently working on that, my goal is first to land a version with typescript and use the options API and after that work on changes to use the composition API.
At the moment I'm having issues with types and changes on the google maps API but the work goes well but slow.
I hope to finish this weekend or the next, but before landing the Vue 3 version I would like to merge some

[2022-06-08 20:35] #260 closed

[2022-06-08 20:40] diegoazh commented on #264
Ok, I will try on the next weekend.

[2022-06-08 20:54] diegoazh commented on #270
@arjendejong12 I loved the analysis and as @davydnorris  said if you want and you can, please make a PR, I'm working on the migration of this plugin to the Vue 3 version with Typescript and I'm having a lot of issues with types.
I remember that I included that import when I update the Vue version and all imports and other parts of the code started throwing errors at build time, with core-js and re

[2022-06-08 23:06] davydnorris commented on #265
@diegoazh yes - the Drawing Manager is finished but there were some issues with shapes that needed to be fixed. There are two things I think we need to do:
 - make a generic Shape component that has a shapeType prop
 - change the editable and draggable prop actions to bind and unbind the appropriate events

I am also going to set the edit event emits so that they do not fire if you are dragging in

[2022-06-09 08:05] andreavettore commented on #15
@diegoazh sounds good. Thanks a lot!

[2022-06-12 19:57] arjendejong12 commented on #270
So I've cloned the repo and removed the following two lines:
https://github.com/diegoazh/gmap-vue/blob/master/packages/gmap-vue/src/main.js#L1...L2
I tried to build the package and to my surprise no errors were thrown. I replaced the compiled dist map in one of my projects where I use GmapVue and it kept working, but the size of the package went down with almost two thirds.

![image](https://user-

[2022-06-20 08:59] Pijuli commented on #10
Still here. It's a bit messy on the console but I've had no problem using it.
Could you take a look at it again? I can't seem to find what's the real problem... :/

[2022-07-05 05:07] websitevirtuoso commented on #15
Any news? DO I need to wait or better implement native google maps API?

[2022-07-06 07:28] bietkul opened #274 "Bug: Unexpected token error"
## Describe the bug
We have upgraded it to v3.x and faced the unexpected token error because of optional chaining. It is important to fix this issue in library because we don't want our users to add additional configs.

- Either remove optional chaining
- or use `@babel/plugin-proposal-optional-chaining` plugin to transpile it.

## To reproduce

Steps to reproduce the behavior:
1. Go to 'Create a

[2022-07-08 09:25] makroxyz opened #276 "Vite build error"
## Describe the bug

[code]

[code]

## To reproduce

npm run build

## Versions

- Node: 16.16
- NPM: 8.11

## Package manager

- [X] NPM
- [ ] Yarn

Any idea to solve that? Thanks

[2022-07-08 09:25] #276 closed

[2022-07-08 09:29] makroxyz opened #277 "Vite build error"
## Describe the bug

running ```npm run build``` on vite gives

Could not resolve './node_modules/.pnpm/core-js@3.21.1/node_modules/core-js/internals/window.js' from node_modules/gmap-vue/dist/esm/main.js
error during build:
Error: Could not resolve './node_modules/.pnpm/core-js@3.21.1/node_modules/core-js/internals/window.js' from node_modules/gmap-vue/dist/esm/main.js
    at error (/home/vagrant

[2022-07-08 10:50] makroxyz commented on #277
I solved by myself... need to remove
[code]
from vite.config.js

please close.

[2022-07-10 23:36] davydnorris commented on #274
Yeah, this was put in by Diego and breaks on a lot of things - I've removed it in the latest code. A complete rewrite of the drawing manager is on its way

[2022-07-18 10:23] bietkul commented on #274
Hello @davydnorris, is there any update?

[2022-07-19 14:03] mateusmcordeiro commented on #277
im facing this same problem, but this solution didnt work for me.

[2022-07-19 14:04] mateusmcordeiro commented on #277
exactly same error.

My `vite.config.js`:
[code]

[2022-07-24 14:08] dhcmega commented on #251
Hi! Any updated on possible fix? Just asking
Thanks!

[2022-07-25 12:55] JavaChr1s commented on #274
@davydnorris any news here?

[2022-07-25 23:42] davydnorris commented on #274
Still working on it - the new Drawing Manager is now a way to just draw new shapes. You are responsible for maintaining the array of shapes externally and the DM emits events with the new shape info. This was mostly straight forward except for polygons, which can have multiple paths to reflect internal holes.

 All that part is done and works well, but in the process of doing that I found numerous

[2022-07-26 04:38] chheng22 opened #278 "Bug: vue js TypeError: Cannot read properties of undefined (reading 'fitBounds' )"
vue js TypeError: Cannot read properties of undefined (reading 'fitBounds' )

[2022-07-26 04:39] #278 closed

[2022-07-29 00:46] davydnorris commented on #274
@bietkul unfortunately I don't have the ability to accept changes into the repo. Only @diegoazh can do that

[2022-07-29 12:19] robertovaldesperez opened #279 "Bug: DrawingManager fillColor and strokeColor hdoc"
## Describe the bug

The drawing manager's polygon options are not being used because the fillColor and strokeColor is hardcoded into the setSelection.

`setSelection(shape) {
      this.clearSelection();
      this.selectedShape = shape;
      shape.overlay.setEditable(true);
      shape.overlay.setDraggable(true);
      this.selectedShape.overlay.set('fillColor', '#555');
      this.selectedShap

[2022-07-29 16:35] diegoazh commented on #274
@bietkul can you test if the `@babel/preset-env` is working as expected? The babel documentation said that the `@babel/plugin-proposal-optional-chaining` plugin is included on the `@babel/preset-env`, I recently noted that on the `.babelrc` file we were using the old `@babel/env` instead of `@babel/preset-env`, my bad sorry.

[2022-07-29 17:34] arjendejong12 commented on #277
This should be forced with the removal of core-js in #273.

[2022-08-01 07:19] jpschutte opened #280 "Need help on: Using Geocoder with GMap"
## What you try to do

I would like to use the Google Maps Geocoder with the GMap component. I need to be able to use Geocoder within a click event on the GMap component. I'd like when a user clicks on the map, that Geocoder submits the coords and returns the physical address.

## What is the problem

I can't figure out how to load Geocoder as there is no component in the docs.

## What kind of th

[2022-08-02 16:39] diegoazh commented on #277
@mateusmcordeiro, was your issue fixed with the last release?

[2022-08-02 16:44] diegoazh commented on #15
I'm working on this issue but it is taking so much time, I'm trying to remove all unnecessary, unuseful and unused code there, move to typescript, test it (UT) and try to build an e2e layer too. Working alone is difficult to make significant and fast progress.
My apologies @websitevirtuoso.

[2022-08-03 08:06] bietkul commented on #274
Yes, it works with Vue template, but doesn't work with `Nuxt`.
It is best to fix the issue in `gmap-vue` library.

[2022-08-03 18:36] bietkul commented on #274
@diegoazh I've raised a PR, can you review and release a new version.

[2022-08-04 01:04] davydnorris commented on #280
Make sure yo check the documentation before submitting a ticket - there's a whole section on this, with examples

[https://diegoazh.github.io/gmap-vue/#accessing-google-maps-api](https://diegoazh.github.io/gmap-vue/#accessing-google-maps-api)

[2022-08-06 20:54] #274 closed

[2022-08-06 20:59] #270 closed

[2022-08-06 21:04] diegoazh commented on #265
@davydnorris great job, let me know when you finish with the refactor.

About the second problem, performance on the initialization, we should discuss it in a different issue, I would like to analyse it to detect where is the performance issue, and discuss which is the better approach to fix it.

Regards.

[2022-08-07 23:47] davydnorris commented on #279
New drawing manager fixes this - stay tuned

[2022-08-08 09:06] robertovaldesperez commented on #279
@davydnorris nice, thanks a lot

[2022-08-19 06:41] jpschutte opened #282 "Bug: GmapAutocomplete @place_changed not firing"
## Describe the bug
If using a slot, the @place_changed no longer works. However, just using props without using the default slot works and fires the place_changed event.

A clear and concise description of what the bug is.

Works
[code]

Does not work

[code]

I think the documentation could be wrong? Where I think it should be `v-on="slotProps.$listeners"` and `v-bind="slotProps.$attrs"`. But th

[2022-08-21 23:50] davydnorris commented on #282
I have the following code in my project and it is working fine:

[code]

[2022-08-23 00:23] davydnorris commented on #265
@diegoazh hey Diego - had a chance to work some more on this and I've hit a bit of a problem...

One of the things I have found is that when isDraggable is turned on, as well as the drag events being emitted, the shape components emit a storm of update events when you drag the shapes around. This is especially bad for polylines and polygons.

Ideally you really only want the update event to fire a

[2022-08-24 23:44] davydnorris commented on #282
@jpschutte looking at your code you have your ref name mismatched, you must either use the name "input" or you must explicitly provide the ref name using the child-ref-name prop on the autocomplete

[2022-08-25 20:50] tux2nicolae commented on #282
@davydnorris you seem to use #input instead of the #default slot, in v2 the slot was renamed https://github.com/diegoazh/gmap-vue/blob/2384ea756a532c13e5a2fec5d7f7a491b30e22f6/packages/gmap-vue/src/components/autocomplete-input.vue#L9 I am missing something?

[2022-08-25 23:21] davydnorris commented on #282
@tux2nicolae it's not the slot it's the ref name on the customised input component that's important

[2022-09-14 20:34] joshstrange opened #284 "Bug: GoogleMapsCallback is not a function"
## Describe the bug

If you don't have a `GmapMap` component on your page (or if it's not visible/rendered) and you try to use dynamic importing (`googleMapsApiInitializer`) then you might see this error:

[code]

## To reproduce

Steps to reproduce the behavior:
1. Initialize the plugin but pass in `dynamicLoad: false,` to the config
2. Call `googleMapsApiInitializer` without a `GmapMap` instance

[2022-09-16 02:53] azusa5526 opened #285 "Need help on: Operate map by other component"
## What you try to do

Try to operate map by other component

## What is the problem

In the same component, we can use $refs[some-map-ref].$mapObject to control the map like panTo(), setOptions() ...
Now I want to control that map by another component like navbar's btn, I can't get the $mapObject by refs because there're not in the same component.

## What kind of things have you already treated

[2022-09-27 00:44] davydnorris commented on #285
This is not a GMap problem, this is a design problem. Components should be self contained, so there are two ways I would approach this:
 - use Vuex state properties to control the map's appearance and then modify these from your other components. Don't put the entire mapObject reference into Vuex, put the individual properties and then link them to props on the map
 - emit events from the external

[2022-10-13 12:49] Mitchellkohler opened #286 "Need help on: Google is not defined triggered by path: google.maps.SymbolPath.CIRCLE in Gmap-vue v3.5.4 icon marker"
## What you try to do
I'm trying to display a circle as an marker on the map with path:  google.maps.SymbolPath.CIRCLE

## What is the problem
Google is not defined triggered by path: google.maps.SymbolPath.CIRCLE in Gmap-vue v3.5.4 icon marker

The documentation on how to fix this with a promise-lazy function is not that clear to me. https://diegoazh.github.io/gmap-vue/code/utils/factories/promis

[2022-10-24 07:45] Mitchellkohler commented on #286
@davydnorris do you know hot to fix the "Google is not defined error" triggered by path: google.maps.SymbolPath.CIRCLE in Gmap-vue v3.5.4 icon marker ?

[2022-10-24 13:09] davydnorris commented on #286
@Mitchellkohler To get to the google API directly, you need to use the built in function getGoogleMapsAPI(), as shown in
[https://diegoazh.github.io/gmap-vue/#accessing-google-maps-api](https://diegoazh.github.io/gmap-vue/#accessing-google-maps-api)

[2022-10-25 13:43] Mitchellkohler commented on #286
Nice, thanks, for the help 😊

On Mon, 24 Oct 2022 at 15:09, davydnorris ***@***.***> wrote:

[2022-11-11 20:05] b4thefomo opened #288 "Bug: The cluster template does not work"
## Describe the bug

I have attempted to try out the [cluster template](https://diegoazh.github.io/gmap-vue/guide/cluster.html#html-examples) in the documentation and it throws an error of "Cannot read properties of undefined (reading Cluster)"
[code]

[2022-11-30 11:31] Wewill opened #290 "Custom Cluster calculated labels"
Hey everyone,
I'm trying to customize labels on clusters instead of showing the count.

I have markers like this :

`
{
          name: "3T CONCEPT",
          position: { lat: 49.29976, lng: 2.39701 },
          value: 108,
},
{
          name: "ABC IP",
          position: { lat: 49.29976, lng: 2.39701 },
          value: 21,
},
`

I tried this, but in can't get the markers :

`
<GmapCluster :op

[2022-11-30 11:31] #290 closed

[2022-11-30 11:35] Wewill opened #291 "Custom Cluster calculated labels"
## What you try to do

Hey everyone,
I'm trying to customize labels on clusters instead of showing the count.

## What is the problem

I can't show nothing else than count or stats on a cluster.

## What kind of things have you already treated

I have markers like this :

[code]

I tried this, but in can't get the markers :

[code]

How can I get the markers to calculate the value of a cluster of

[2022-11-30 15:28] Wewill commented on #291
Ok, just find a way to get markers :

`render: ({ count, position, markers }, stats) => {`

[2022-11-30 15:28] #291 closed